@charset "utf-8";
/* CSS Document */
.errmsg{color:red;  font-size:8px;}
#productMenu {
	padding:3px;text-align:center;
}

body{
	font-family: Arial;
	font-size: 12px;
	background: #C8DEEF url('images/bodybg.png') repeat-x scroll top left;
}

.logo {
    background-position: 0 0;
    display: block;
    float: left;
    height: 72px;
    margin: 0px;
    text-indent: -999px;
    width: 203px;
}

.spriteicon {
    background: url("/images/sprite.png") no-repeat scroll 0 0 transparent;
}

div {
	padding:1px;
}
img {
	padding:0 3px 0 2px;
	margin:0 3px 0 2px;
	vertical-align:bottom;
}
.spaces{
	margin-left: 6px;
}
.headerArea{
	background-color: #fff;
	height: 100px;
	color: #005DB7;
text-align:left;
}
.userName{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1A3C9A;
}
.footerArea{
	background-color:#E4C783;
	height: 20px;
	color: #005DB7;
}
.deselected{
	color: #576675;
	font-size: 10px;
}
.deselectedBack{
	background-color: #D7D7D7;
	color: #303030;
}
.leftArea{
	background-color: #D8EAB7;
	color: #005DB7;
}

.rightArea{
	background-color:#D8EAB7;
	color: #005DB7;
}
a {
	color: #000080;
	text-decoration: none;
}
a:hover;a:visited {
	text-decoration: none;
}

.classHidden {
	display : none;
}
.mainBody{
	border: 0px solid #2F4E76;
	width: 100%;
	background: #FFF3E8;
}

.titleId{
	color: #008000;
	font-size: 16px;
	font-weight: bold;
}

.labelBlue{
	color: #2F5CDD;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
#suggestPriceMin{
	margin: 5px;
}
#suggestPriceMax{
	margin: 5px;
}
.labelBlack{
	padding:2px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}
.black12b{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
}

.buttons{
	background-color: #003366;
	color:#ffffff;
	font-weight: bold;
	padding: 3px;
	margin: 1px;
}
.buttonsFilter{
	background-color: #B4D5B5;
	color: #111111;
	font-weight: bold;
	padding: 3px;
	margin: 2px;
	border: 1px solid #003F7B;
}

.buttons1{
	background-color: #003366;
	color:#ffffff;
	padding: 2px;
	margin: 2px;
}

.buttonsDiv{
	float:left;
	text-align: center;
}
/*Listing manager start */
.oddDiv{
	font-size: 11px;
	padding: 0px;
	background-color: #ffffff;
}
.evenDiv{
	font-size: 11px;
	padding: 0px;
	background-color: #ffffff;
}

#showSelectedItem{
	font-size: 12px;
	color: #FF6428;
	font-weight: bold;
	font-style: italic;
}

.selected1{
	font-size: 12px;
	color: #FF6428;
	font-weight: bold;
	font-style: italic;
}

#makeOptionsId {
	width: auto;
}

.classRowHead{
	background-color: #CEE7FF;
	font-size: 12px;
	font-weight: bold;
	color: #9D2B00;
}
.classRowData{
	font-size: 12px;
}
.suggestPending{
	color:  #975300;
}
.suggestDraft{
	color: #3F6E98;
}
.due4renew{
	color: #E84000;
}
.declined{
	color: #3B6193;
}
.suggestExpired{
	color: #AC0000;
}
.suggestActive{
	color: #006601;
}
.suggestClass{
	width: 250px;
}

#categoryDivLevel1{
	display: none;
}
#categoryDivLevel2{
	display: none;
}
#categoryDivLevel0txt, #categoryDivLevel1txt{
	display: block;
}

#box
{
  width : 262px;
  max-height : 200;
  overflow : auto ;
  border : 1px solid #C5C5C5;
  background : #F8F8F8;
  position : relative;
  left : 5px;
  top : 5px;
  border-top : none;
  text-align : left;
  display : none;
}

#box1
{
  width : 262px;
  max-height : 200;
  overflow : auto ;
  border : 1px solid #C5C5C5;
  background : #F8F8F8;
  position : relative;
  left : 5px;
  top : 5px;
  border-top : none;
  text-align : left;
  display : none;
}
.redTitle{
	color: #DF0000;
	font-size: 13px;
	font-weight: bold;
}

.filterId{
	background-color: #E6ECF8;
	border: 1px ridge #3C689D;
}

.didyoumean{
	color: #cc0000;
}

.makeModelContainer{
	width:50%;
	border:0px #009098 solid;
}
.classMake{
	width:45%;
	float:left;
	padding:3px;
}

.classModel{
	width:45%;
	float:right;
	padding:3px;
}

/*Listing manager end */

.alertmsg{margin:2px; color:#107695; background:#e6ffcc url("http://www.rbel.techepoch.com/images/icon_alert.png") no-repeat 5px 5px; padding:5px 5px 5px 30px;  border-bottom:1px solid #80cf10;font-size:18px;}
.errmsg{margin:2px; color:#107695; background:#ffffcc url("http://www.rbel.techepoch.com/images/icon_error.png") no-repeat 5px 5px; padding:5px 5px 5px 30px;  border-bottom:1px solid #ec9800; font-size:14px;}

.review_heading {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	width: auto;
}
a.linkText {
    color : #444444;
    font-family : arial;
    font-size : 11px;
    font-weight : bold;
    text-decoration : none;
}
a.linkText:link {
    color : #444444;
    /* you can define other styles if necessary */
}

a.linkText:visited {
    color : #444444;
    /* you can define other styles if necessary */
}

a.linkText:hover {
    color : #ff0000;
}
.name{
float:left;
width:150px;
font-size : 11px;
font-weight:bold;

}
.showReviewForm_link{
background:#FFCCCC;
font-size:16px;
border:#CC6666;
width:100px;
}

.comment_review{
	background:#FFCCCC;
	font-size:16px;
	border:#CC6666;
	float:right;
	width:280px;
}
.comment_review_post_comment
{
background:#FFCCCC;
font-size:16px;
border:#CC6666;
float:right;
width:185px;
}
.review_data{
	margin-left:20px;
	font-size:16px;
}
.comment_data{
	margin-left:20px;
	font-size:16px;
}

.comment_data_reply{
	margin-left:20px;
	font-size:12px;
	color:  #20613E;
	background-color:  #B6CEF5;
}
.commenter_name{
	font-size : 11px;
	font-weight:bold;
	margin-left:10px;
}

.centerAlign {
	text-align: center;
}


.comment_review_reply{
	margin-left:20px;
	color: #4169E1;
	background-color: #DCDCDC;
}

.sellerReply{
	color: #005253;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.hideDiv{
	display:none;
}

.showDiv{
	display:block;
}

.fontgrey {color:#9d9d9d !important;}

th1 .dwnf{
	background:url("../images/dwn.gif") no-repeat scroll 0 0 ;
	height:22px;
	width:22px;
	display:block;
	float:left;
}
.th1 .brdC{
	background:url("../images/breadCrumb.png") repeat-x scroll 0 0 transparent;
	height:20px;
	padding:5px 10px;
	border:1px solid #262626;
}
.th1 .pgT{
	background:url("../images/pagetitleBg.png") repeat-x scroll 0 0 transparent;
	line-height:33px;
	padding:0 10px;
}
.th1 .gryBg{
	background-color:#e9e9e9;
}
fl{
	float:left;
}

.fr{
	float:right;
}

.cb{
	clear:both;
}

.cl{
	clear:left;
}

.cr{
	clear:right;
}

.ac{
	text-align:center;
}

.ar{
	text-align:right;
}

.al{
	text-align:left;
}

.aj{
	text-align:justify;
}

.db{
	display:block;
}

.di{
	display:inline;
}

.b{
	font-weight:bold;
}

.n{
	font-weight:normal;
}

.h ul{
	list-style: none;
	padding: 0;
	margin: 0
}

.h ul li{
	float: left;
}

.v ul{
	list-style: none;
	padding: 0;
	margin: 0
}

.row1{
	background-color:#e9e9e9;
}
.row0{
	background-color: #d3d3d3;
}

.datarow1{
	background-color: #d3d3d3;
	font-weight:normal;
	border:1px solid #262626;
	
}

.vsblStr, .dsblStr, .starOn, .starOff{
	float:left;
	width:13px;
	height:16px;
	background:url("../images/vsbl-star.png") 0 0 transparent;
}
.dsblStr{background:url("../images/dsbl-star.png") 0 0 transparent;}
.starOn{background:url("../images/star-basic-on.png") 0 0 transparent;}
.starOff{background:url("../images/star-basic-off.png") 0 0 transparent;}


/*css classes for admin panel*/
#footer_container{ border-top:solid 4px #004188; padding:25px 0; text-align:center;}


table{border-top:1px solid #CCCCCC; border-bottom:none; border-left:1px solid #CCCCCC; margin-bottom:15px; background-color:#fff;}
table tr.titlebg{background:#333333; color:#A0D83C; font-weight:bold;}
table tr.titlegray-bg{background:#E5E5E5;}
table tr td{padding:5px; border-bottom: 1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
table tr td.inactive{color:#ff0000;}
table tr.titlebg td{color:#A0D83C; font-weight:bold; padding:4px 2px;}
table tr td a{color:#005DAB; text-decoration:none;}