html{color:#000;background:#FFF;min-height:101%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0;padding:0;font:normal 12px arial; border:none; }
body{margin:0 auto; padding:0;background:#FFF;color:#000;line-height:normal}
section, article, aside, header, hgroup, footer, nav{display:block;}
a{ color: #005dab; text-decoration:none;}
a:hover{text-decoration:underline;}
a{outline: none;}
a:focus{-moz-outline-style: none;}
#wrapper{overflow:hidden; width:100%;}
.clear{ clear:both;}
ul{ list-style:none; margin:0; padding:0;}
.spriteicon{background:url('../images/sprite.png?v=1') no-repeat;}
h1{color:#003b7c; font:normal 12px Arial, Helvetica, sans-serif;}
h2{ font:bold 16px Arial, Helvetica, sans-serif; color:#003b7b; text-transform:uppercase;}

/************ Css By Varsha **************/
address,caption,cite,code,dfn,strong,th,var,optgroup,iframe{font-style:inherit; _border:none; outline:none;}
del,ins{text-decoration:none;}
caption,th{text-align: center;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{ font-size:8px;}
sub{vertical-align: bottom;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
*{	resize:none;	outline:none;}
.required{color:#ff0000; font-size:11px;}
/************ Css By Varsha End **********/

/*header classes*/
#header-outer{ width:100%;}
header{ width:980px; overflow:hidden; margin:0 auto; padding-bottom:10px;}
.logo{background-position:0 -345px; width:208px; height:84px; display:block; margin:20px 75px 0 0; text-indent:-999px; float:left;}
.main-search{ width:518px; height:81px; margin-top:20px; float:left; position:relative;}
.main-search .tab {padding-left:15px; height:35px; position:absolute;}
.main-search .tab a{color:#005eab; text-transform:uppercase; text-shadow:#aaa 1px 1px 2px; margin-right:20px; padding-bottom:20px; float:left; display:inline-block;}
.main-search .tab a.hover{color:#000; text-decoration:none;}
.main-search .tab a.active{color:#000; text-decoration:none; background:url(../images/searchtab-activebg.png) no-repeat bottom;}
.main-search .searchboxwrap { background:#8fcb24; border:solid 6px #004188; margin-top:29px;}
.main-search .searchbox{height: 17px; width: 402px; padding:7px 0 7px 25px; float:left; border:0; background-position: 0 -154px;}
button.searchbtn{background-position:-205px 0; width:75px; height:31px; cursor:pointer; font:bold 16px arial;}
.header-right-wrap{ width:170px; float:right; text-align:right; margin-top:5px;}
.header-right-wrap span{ margin-bottom:20px; display:block;}
.header-right-wrap span a{ color:#000; display:inline-block; margin-left:5px;border-bottom:solid 2px #fff;}
.header-right-wrap span a:hover{color:#000; text-decoration:none;}
.header-right-wrap span a.active{border-bottom:solid 2px #ff0000;}
.header-right-wrap span a.user-login{ padding-right:15px; color:#003b7c; font:bold 12px Arial, Helvetica, sans-serif; background:url(../images/login-bullet.png) no-repeat right;}
.poweredbybgr{float:right; margin:75px 10px 0 0; width:100px; height:30px;}
.poweredbybgr span{color:#8c8c8c;color: float: left; font-size: 10px; margin-top: 10px; float:left;}
.poweredbybgr a{width:35px; float:left; display:inline-block; height:30px; background-position:-202px -289px;}


/*nav classes*/
#nav-outer{ width:100%; background:url(../images/navbg.gif) repeat-x; height:43px; overflow:hidden;}
nav{ width:998px; margin:0 auto;}
nav ul{ float:left;}
nav li{ float:left; padding:0 2px; text-transform:uppercase; background:url(../images/navborder.gif) no-repeat right;}
nav li.last{ background:none;}
nav li a{ color:#fff; text-decoration:none; padding:12px; margin:0; float:left; font:bold 14px Arial, Helvetica, sans-serif; }
nav li a:hover{ text-decoration:none; color:#0b0e03; background:#99da26;}
nav li a.active{ color:#0b0e03; background:#99da26;}
nav li a.nav-bgrlink{ background-position:-320px -34px; width:50px; height:40px; padding:0;}
nav li a.nav-bgrlink:hover{background:url('../images/sprite.png?v=1') no-repeat -320px -34px;}

nav .sharelink{float:right; padding:8px 5px; color:#fff;}
nav .sharelink span{width: 57px; float: left; margin-top: 5px;}
nav .sharelink a{ display:inline-block; width:21px; height:21px; margin-left:6px;}
nav .sharelink a.fb{ background-position:-206px -35px;}
nav .sharelink a.twitter{ background-position:-233px -35px;}
nav .sharelink a.rss{ background-position:-259px -35px;}


#maincontent-wrapper{ width:980px; margin:0 auto; padding-top:15px;}

/*section classes*/
section{ width:680px; float:left; overflow:hidden; margin-bottom:20px;}
section.fullwidth{ width:980px; float:left; overflow:hidden; margin-bottom:20px;}

h1.page-heading{color:#003b7d; font:normal 12px Arial, Helvetica, sans-serif; padding:5px 0;}
h1.page-heading a.home{ width:21px; height:21px; float:left; background-position:-308px -107px;}
h1.page-heading span{display: inline-block; padding-left:4px; margin: 5px 0pt;}
a.rate1{ background-position: -25px -187px !important;}
a.rate2{ background-position: -50px -187px !important;}
a.rate3{ background-position: -75px -187px !important;}
a.rate4{ background-position: -100px -187px !important;}
a.rate5{ background-position: -125px -187px !important;}

a.ratepage0,a.ratepage{ background-position: -159px -187px !important;}
a.ratepage1{ background-position: -184px -187px !important;}
a.ratepage2{ background-position: -209px -187px !important;}
a.ratepage3{ background-position: -234px -187px !important;}
a.ratepage4{ background-position: -259px -187px !important;}
a.ratepage5{ background-position: -284px -187px !important;}

.hotdeals-wrap{ width:658px; overflow:hidden; padding:8px 0;}
.hotdeals-wrap h2{float:left; padding:5px 5px 5px 0;}
.subtitle{ font-size:14px; color:#990000; float:right; padding:7px 5px 5px 0; width:500px; text-align:center;}
.hotdeals-main{ background:#f2f2f2; border:solid 1px #c7c7c7; padding:10px 20px; clear:both;}
.hotdeals-main ul{margin:0; padding:0;}
.hotdeals-main li{margin:0; padding:0; float:left; text-align:center; width:100px;}
.hotdeals-main img{ border:solid 1px #c7c7c7; margin:0 10px; display:inline-block;}
.hotdeals-img-info{ width:auto; color:#666666; font-size:11px;}
.hotdeals-img-info span{ display:block; font-size:11px;}
.hotdeals-img-info span.marketprice{ color:#8b001c; font-weight:bold; font-size:12px;}
.hotdeals-img-info span.marketprice{ color:#8b001c; font-weight:bold; text-decoration:line-through;}
.hotdeals-img-info span.ourprice{ color:#000; font-weight:bold; font-size:12px;}

.phone-showcase-wrap{ width:658px; overflow:hidden; padding:8px 0;}
.phone-showcase-wrap h2{float:left; padding:5px 5px 5px 0;}
.subtitle{ font-size:14px; color:#990000; float:right; padding:7px 5px 5px 0; width:500px; text-align:center;}
.phone-showcase-main{ background:#e3e4e6; padding:5px; clear:both;}
.phone-showcase-main .showcasetabs-wrap{float:left; width:100%; background:#e3e4e6;}
.phone-showcase-main .showcasetabs-wrap a{ padding:5px; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; display:inline-block; font-weight:bold; color:#000; float:left;}
.phone-showcase-main .showcasetabs-wrap a.selected{background:#f4f4f7; color:#005daa;}
.phone-showcase-main .showcasetabs-content{background:#f4f4f7; width:100%; padding:10px 0; margin:0;}
.phone-showcase-main .showcasetabs-content .single-phone-model{width:90px; float:left; padding:0 8px; text-align:center; margin-bottom:15px; height:170px;}
.phone-showcase-main .showcasetabs-content img{ border:solid 1px #c7c7c7; margin:0; display:inline-block; width:90px; height:120px;}
.phone-showcase-img-info{ width:auto; color:#666666; font-size:11px;}
.phone-showcase-img-info span{ display:block; font: bold 11px Arial, Helvetica, sans-serif; color:#0a2a53;}
.phone-showcase-img-info span.showcase-price{ color: #0A2A53; display: block; font: bold 11px Arial,Helvetica,sans-serif; padding-left:10px; text-align:left; background:url("../images/ruppee.jpg") no-repeat left;}
.phone-showcase-img-info span.noprice { color: #0A2A53; display: block;font: bold 9px Arial,Helvetica,sans-serif; }
.phone-showcase-img-info span.marketprice{ color:#8b001c; font-weight:bold; font-size:12px;}
.phone-showcase-img-info span.marketprice{ color:#8b001c; font-weight:bold; text-decoration:line-through;}
.phone-showcase-img-info span.ourprice{ color:#000; font-weight:bold; font-size:12px;}
.phone-showcase-seperator{ border-bottom:solid 2px #ccc; height:10px; margin: 0 10px 10px;}
.morelink{width:auto; clear:both; text-align:right; padding:5px 15px 0 0}
.morelink a{ color:#003b7b; text-decoration:none;}
.morelink a:hover{ text-decoration:underline;}

.search-result-compare{width:680px; overflow:hidden; position:relative; min-height:20px; _height:auto;}
.search-results-wrap{ width:635px; border:solid 5px #a0d938; background:url(../images/search-result-bg.gif) repeat-y right; float:left; min-height:150px; _height:150px;}
a.compare{ background-position:0 -209px; display:block; width:31px; height:110px; float:left; margin:5px 0 0 -5px;}
a.compare-Horizontal{ background-position:-209px -337px; display:inline-block; width:128px; height:50px;}
.search-results-wrap .search-results-header{padding-left:25px; color:#003d7e;}
.search-results-wrap .search-results-header div{float:left; font:bold 16px Arial, Helvetica, sans-serif;}
.search-results-wrap .search-results-header div a{ color:#a0d938; text-decoration:underline;}
.search-results-wrap .search-results-header div a:hover{ text-decoration:none;}
.search-results-wrap .search-results-header div span{ font-size:18px; color:#990000;}
.search-results-wrap .search-results-header .sortby{color:#7c7c7c; font-size:12px; padding:5px 40px 0 0; float:right; width:595px; text-align:right;}
.search-results-wrap .search-results-single-wrap{overflow:hidden; clear:both;}
.search-results-wrap .search-results-single{height:120px; overflow:hidden;border-bottom:solid 1px #176bca; float:left; padding:15px 0 0 15px; width:587px;}
.search-results-wrap .search-results-single img{ float:left; margin:0 12px; width:90px; height:120px;}
.search-results-wrap .search-results-single .single-details{float:left; color:#176bca; width:350px;}
.search-results-wrap .search-results-single .single-details span{ width:350px; _width:340px; float:left; margin-top:10px; clear:both; padding-right:15px; height:60px; overflow: hidden;}
.search-results-wrap .search-results-single .single-details a{color:#df9800; text-decoration:none; display:block; text-align:right; text-transform:uppercase; padding:7px 2px 0 0; font-size:12px; float:right;}
.search-results-wrap .search-results-single .single-details a:hover{text-decoration:underline;}
.search-results-wrap .search-results-single .single-details h3{ color:#003979; font:normal 12px Arial, Helvetica, sans-serif; text-transform:uppercase; padding:1px 0;}
.search-results-wrap .search-results-single .single-details h3 a{ color:#003979; font:normal 12px Arial, Helvetica, sans-serif; text-transform:uppercase; padding:1px 0; text-align:left;float:left;}
.search-results-wrap .search-results-single .price-ratings{float:right; width:108px; border-left:solid 1px #176bca;height:108px}
.search-results-wrap .search-results-single .price-ratings p{ padding:0 0 5px;}
.search-results-wrap .search-results-single .price-ratings span{ clear:both; display:block; font:bold 13px Arial, Helvetica, sans-serif; color:#003d7e; text-align:center;}
.search-results-wrap .search-results-single .price-ratings span.noprice { color: #0A2A53; display: block;font: bold 9px Arial,Helvetica,sans-serif; }
.search-results-wrap .search-results-single .price-ratings span.price{ font-size:14px;}
.search-results-wrap .search-results-single .price-ratings p.ratings{ padding:15px 0 5px;}
.search-results-wrap .search-results-single .price-ratings p.ratings span{ clear:both; display:block; font:normal 12px Arial, Helvetica, sans-serif; color:#4f4f4f; text-align:center;}
.search-results-wrap .search-results-single .price-ratings p.ratings a{ background-position: 0 -187px; width:23px; height:19px; display:block; margin:5px auto 0;}
.search-results-wrap .search-results-single-wrap .checkboxwrap{padding-top: 50px; float: right; width: 30px; height: 50px; text-align: center;}
.search-results-single-wrap.last .search-results-single{border-bottom:none;}
.search-results-wrap .paging-wrap{ background:#fff; height:25px; padding:0 2px; clear:both;}
.search-results-wrap .paging{ border-top: solid 2px #666666; border-bottom: solid 2px #666666; padding:3px 0; clear:both; margin-bottom:25px; background:#fff; display:block; text-align:right;}
.search-results-wrap .paging ul li{display:inline;}
.search-results-wrap .paging ul li.active{color:#666; font-weight:bold;}
.search-results-wrap .paging ul li.active a{color:#666;}
.search-results-wrap .paging a{font:bold 12px arial; color:#df9802; display:inline-block; margin-right:5px;}
.search-results-wrap .paging a.next{ width:15px; height:10px; background-position: -113px -128px; margin-left:5px; padding:0; text-indent:999px;}


.phone-listing-wrap{width:658px; overflow:hidden; padding:8px 0;}
.phone-listing-wrap h2{ background-position: -182px -80px; font-size:14px; padding:4px 5px 1px 15px; border-bottom: solid 3px #e6e6e6;}
.phone-listing-main{ background:#a0d83c; padding: 2px 5px 5px; position:relative; float:left; width:648px;}
.phone-listing-brands{height:37px;}
.phone-listing-brands ul{margin:0;  padding-top:10px; float:left; width:590px;}
.phone-listing-brands ul li{ float:left; color:#003366; font:bold 13px arial; margin-right:7px;_margin-right:0px; margin-bottom:12px; }
.phone-listing-brands ul li input{ margin:0 2px;}
.phone-listing-brands.allbrands{height:auto; float:left; clear:both;}
.phone-listing-brands.allbrands ul{margin:0;  padding-top:10px; float:left; width:590px;}
.phone-listing-brands.allbrands ul li{ float:left; color:#003366; font:bold 13px arial; margin-right:7px;_margin-right:0px; margin-bottom:12px; }
.phone-listing-brands.allbrands ul li input{ margin:0 2px;}
.phone-listing-main a.morebrands{ width:54px; height:26px; background-position:0 -127px; top:5px; right:10px; position:absolute;}
.phone-listing-main a.morebrands.lessbrand {background-position:-208px -210px;}
.phone-listing-filter{background:#fff; height:80px; padding:10px; width:628px; clear:both;}
.phone-listing-filter .filter-lhs p{padding:5px 0;}
.phone-listing-filter .filter-lhs label{float:left; font:bold 13px Arial, Helvetica, sans-serif; text-transform:uppercase; width:115px;}
.phone-listing-filter .filter-lhs select {width: 235px;}
.phone-listing-filter .list-phones-wrap {width:240px; float:right; text-align: center;}
.phone-listing-filter .list-phones-btn{display:inline-block; width:140px; height:44px; background-position:0 0; margin-top:8px;}
.phone-listing-filter .more-opt{color:#0060d4; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:none; margin:5px 8px; display:inline-block;}
/*css classesfor disabled phone-listing module*/
.phone-listing-wrap.inactive h2{display:none;}
.phone-listing-wrap.inactive .phone-listing-main{ background:#dfdfdf; padding: 2px 5px 5px;}
.phone-listing-wrap.inactive .phone-listing-main .ui-slider .ui-slider-range {display: block; font-size: 0.7em; position: absolute; z-index: 1; background:#a9a9a9;}
.phone-listing-wrap.inactive .phone-listing-main .phone-listing-brands a.morebrands{ display:inline-block; width:54px; height:26px; float:right; background-position:-55px -127px; margin-top:5px;}
.phone-listing-wrap.inactive .phone-listing-main .phone-listing-brands a.morebrands.lessbrand{background-position:-263px -210px;}
.phone-listing-wrap.inactive .phone-listing-main .phone-listing-filter .list-phones-btn{display:inline-block; width:113px; height:40px; background-position:-182px -109px; margin-top:10px;}

/*classes for phone finder page*/
.phone-listing-main .heading{font:bold 18px Arial, Helvetica, sans-serif; text-transform:uppercase; padding:8px 0;}
.phone-listing-main .form-field-spacer{width:30px; height:20px; float:left;}
.phone-listing-main table{ width:100%; border:none; background:#fff;}
.phone-listing-main table tr{}
.phone-listing-main table tr.alt{ background:#f2f7fb;}
.phone-listing-main table tr td{font:bold 13px Arial, Helvetica, sans-serif;  padding:15px 0}
.phone-listing-main table tr td label{ padding:0 10px;font:bold 13px Arial, Helvetica, sans-serif; float:left;}
.phone-listing-main table tr td label.sub-options{color:#666666; font-size:12px;}
.phone-listing-main table tr td .selectwrap{background:url(../images/list-bg.gif) no-repeat right; height:24px; float:left;}
.phone-listing-main table tr td select{float:left; font: normal 12px Arial, Helvetica, sans-serif; text-transform:none; background:#e3e4e6; border:none; border:solid 1px #ccc;}
.phone-listing-main table tr td select.w200{width:180px;}
.phone-listing-main table tr td select.w250{ width:230px;}
.phone-listing-main table tr td input{float:left; margin-left:5px;}
.phone-listing-main table tr td .list-phones-btn{display:inline-block; width:128px; height:50px; background-position:0 -76px; margin-right:15px;}

/*phone model details page*/
.model-details{width:658px; overflow:hidden;}
.model-details h1{ background:url(../images/details-head-bg.gif) no-repeat; font:normal 28px Arial, Helvetica, sans-serif; color:#000000; padding:5px 10px; margin-bottom:6px;}
.sharelinks { float: left;clear: none;margin: 5px;}
.sharelinks span {float: left;margin-right: 10px;}
.model-details span h1{ background:none; font:normal 28px Arial, Helvetica, sans-serif; color:#000000; padding:5px 10px; margin-bottom:12px;}
.model-details .model-overview{ border:solid 1px #dfdfdf; clear:both; padding:0;}
.model-details .model-overview img{ border:none; float:left; margin:6px 10px 6px 6px; width:120px; height:160px;}
.model-details .model-overview .left{ float:left; width:300px; color:#333333; margin-top:15px;}
.model-details .model-overview .left span{ font-size:13px;}
.model-details .model-overview .left h3{ font:bold 20px Arial; margin-bottom:20px;}
.model-details .model-overview .middle{  float:left; width:220px; margin-top:50px;}
.model-details .model-overview .middle h3{ color:#003b7d; padding:2px 0;}
.model-details .model-overview .middle h3 span.icon{ float:left; width:40px; height:31px; background-position: -140px -79px; padding:0;}
.model-details .model-overview .middle h3 span{ padding:5px 0; font:bold 16px Arial; text-decoration:underline;}
.model-details .model-overview .middle h3 span a{ font:bold 16px Arial; text-decoration:underline; color:#003b7d;}
.model-details .model-overview .middle h3 span a:hover{ text-decoration:none;}
.model-details .model-overview .middle p{ color:#191919; padding:5px 0; font-size:16px; background-position: -38px -238px; padding-left:40px; font:normal 16px Arial; clear:both;}
.model-details .model-overview .right .model-price-wrap { background:#eaeaea; padding:5px; text-align:center; height:30px; padding-top:15px;}
.model-details .model-overview .right .model-rating-wrap { background:url('../images/model-ratings-bg.jpg?v=1') no-repeat; padding:5px; text-align:center; height:42px;}
.model-details .model-overview .right .model-availability-wrap { background:#eaeaea; padding:5px; text-align:center; height:60px;}
.model-details .model-overview .right p.bgrratings{ color:#191919; padding:0; font-size:16px; background: none; font:normal 16px Arial; text-align:right;}
.model-details .model-overview .right p.bgrratings a{background-position:0 -187px; width:24px; height:19px; display:inline-block; margin:10px 30px 0 0; float:none;}
.model-details .model-overview .right span.availability-since{ display: block; float: right; font-size: 13px; margin-top: 15px; width: 160px;}
.model-details .model-overview .right{ width:180px; text-align:left; float:right}
.model-details .model-overview .right h3{ color:#000; font:bold 16px Arial;}
.model-details .model-overview .right a{ float:right; display:block;}
.model-details .model-overview .right a.gotodemobtn{ background-position: -38px -209px; width:102px; height:27px; margin-top:45px;}
.model-details .model-overview .right a.buybtn{ background-position: -141px -209px; width:64px; height:29px; margin:25px 15px 0 0;}

.model-details .features-main-wrap{ margin:15px 0;}
.model-details .features-main-wrap .tabs-mainwrap{ height:26px; background:#e3e4e6; margin-bottom:8px; padding:0 10px;}
.model-details .features-main-wrap .tabs-mainwrap ul{ margin:0; padding:0;}
.model-details .features-main-wrap .tabs-mainwrap ul li{ margin:0; padding:0; list-style:none; float:left;}
.model-details .features-main-wrap .tabs-mainwrap ul li a{ display:block; padding:6px 12px 5px; color:#003a7a;}
.model-details .features-main-wrap .tabs-mainwrap ul li a:hover{ background:#d5d5d5;}
.model-details .features-main-wrap .tabs-mainwrap ul li a.active{ background:#004A90; color:#fff;}
.model-details .features-main-wrap .tab-content-wrap{ border-top:solid 3px #e3e4e6; border-right:solid 1px #e3e4e6; border-bottom:solid 3px #e3e4e6; border-left:solid 1px #e3e4e6; padding:8px 0;}
h3.model-features{ color:#003366; font:bold 22px Arial; padding:2px 4px; float:left; margin: 0 5px;}
.featured-sec-wrapper-columns{width:320px !important; float:left; height:auto; overflow:hidden;}
.featured-sec-single{ width:300px; float:left; margin:6px 10px;}
.featured-sec-single h4{background:url(../images/featured-single-titlebg.gif) no-repeat; height:13px; width:280px; padding:10px; font:bold 14px Arial, Helvetica, sans-serif;}
.featured-sec-single ul{ background:url(../images/featured-single-mainbg.gif) repeat-y; margin:0; color:#666666; width:300px; padding:0; border-bottom:solid 1px #ccc; float:left;}
.featured-sec-single ul li{ border-bottom:solid 1px #e3e4e6; padding:5px; float:left; width:290px;}
.featured-sec-single ul li p{ display:inline-block; width:110px; color:#333;}
.featured-sec-single ul li p.label{ width:155px; margin-right:10px; float:left; font-weight:bold;}

.model-details .imp-stats{margin-right:11px; _margin-right:8px; width:297px; background:#fafff0; width:solid 1px #003b7d; float:right; border:solid 1px #003b7d; padding-bottom:0px;}
.model-details .imp-stats h3{ color:#fff; text-transform:uppercase; border-bottom:solid 1px #949494; font:bold 16px arial; padding:2px 0 2px 10px; background:#004A90;}
.model-details .imp-stats .single-specs{ padding:10px; clear:both; width:277px; float:left;border-bottom: 1px solid #E3E4E6;}
.model-details .imp-stats .single-specs img{ float:left;}
.model-details .imp-stats .single-specs div{ font:normal 12px Arial; color:#666; padding-left:25px; float:right; width:180px;}
.model-details .imp-stats .single-specs div h3{ font-size:14px; color:#000; border:none; padding:0; background:none;}

.mobile-compare-wrap h2{ float:left; padding:5px 5px 5px 0;}
.mobile-compare-tabwrap{ background:url(../images/compare-tabswrap-bg.gif) repeat-x bottom; height:38px; padding-left:15px;}
.mobile-compare-tabwrap a{ background:url(../images/tab-left.gif) no-repeat left; display:block; height:38px; width:135px; float:left; cursor:pointer; font:normal 14px arial; color:#000; text-align:center;}
.mobile-compare-tabwrap a span{ background:url(../images/tab-right.gif) no-repeat right; display:block; height:22px; width:auto; padding:8px 18px;}
.mobile-compare-tabwrap a.active{ background:url(../images/active-tab-left.gif) no-repeat left; display:block; height:38px; float:left; font:bold 16px arial; color:#005daa;}
.mobile-compare-tabwrap a.active span{ background:url(../images/active-tab-right.gif) no-repeat right; display:block; height:22px; width:auto; padding:8px 18px;}
.mobile-compare-table-wrap{ border:solid 4px #a0d83c; padding:5px; clear:both;}
.mobile-compare-table-wrap table{ border: solid 1px #ccc;}
.mobile-compare-table-wrap table tr.titlebgray-bg{background:#e5e5e5;}
.mobile-compare-table-wrap table tr.titlebgray-bg td{color:#005daa; font-weight:bold; text-align:left;}
.mobile-compare-table-wrap table tr td{ text-align:center; border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; padding:5px 2px; }
.mobile-compare-table-wrap table tr td.firstcol{ text-align:left;}
.mobile-compare-table-wrap table tr td.last{ border-right: none;}
.mobile-compare-table-wrap table tr.titlebg{background:#333333;}
.mobile-compare-table-wrap table tr.titlebg td{border-right:none;}
.mobile-compare-table-wrap table tr.titlebg td div{background:#333333; padding:0; color:#a0d83c; font-weight:bold; text-align:center;}
.mobile-compare-table-wrap table tr.titlebg td div a{color:#a0d83c;}
.mobile-compare-table-wrap table tr.titlebg td div.proname{color:#fff; font-weight:normal; width:110px;}
.mobile-compare-table-wrap table td div.prod-img{padding:15px 0; text-align:center;}
.mobile-compare-table-wrap table td div.prod-img img{border:none;}
.mobile-compare-table-wrap table td div.prod-select-wrap{ width:198px;}
.mobile-compare-table-wrap table td div.prod-select-wrap select{ margin:2px 0; clear:both; width:180px;}
.mobile-compare-table-wrap table td div.prod-select-wrap input{ margin:2px 10px 2px 0; clear:both; width:50px; height:24px; background:url(../images/add-btn.gif) no-repeat; cursor:pointer; float:right;}

/*classes for product detail page*/
.tab-content-wrap table{ border: solid 1px #ccc;}
.tab-content-wrap table tr.titlebgray-bg{background:#e5e5e5;}
.tab-content-wrap table tr.titlebgray-bg td{color:#005daa; font-weight:bold; text-align:left;}
.tab-content-wrap table tr td{ border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; padding:5px 2px; }
.tab-content-wrap table tr td.firstcol{ text-align:left; width:200px;}
.tab-content-wrap table tr td.last{ border-right: none;}
.tab-content-wrap table tr.titlebg{background:#333333;}
.tab-content-wrap table tr.titlebg td div{background:#333333; padding:0; height:18px; color:#a0d83c; font-weight:bold; text-align:center;}
.tab-content-wrap table td div.titlebg.proname{color:#fff; font-weight:normal; width:140px;}
.tab-content-wrap table td div.prod-img{padding:15px 0; text-align:center; width:198px;}

/*filter search sliders classes*/
#slider{margin: 5px auto 0 auto; width: 211px;}
#slider-range.ui-slider-horizontal { background:url("../images/sliderbg.gif") no-repeat; cursor: pointer; height: 17px; width:233px; height:23px; padding-top:2px;}
.ui-slider { position: relative;}
.ui-slider-horizontal .ui-slider-range {height: 9px; overflow: hidden; }
.ui-slider .ui-slider-range {display: block; font-size: 0.7em; position: absolute; z-index: 1; background:url(../images/slider-activebg.gif) repeat-x;}
.ui-slider-horizontal .ui-slider-handle { background: #0A174B; height: 18px; margin:-5px 0 0 -2px; width: 2px; z-index: 1000; border:1px solid #0349D2;}
.ui-slider .ui-slider-handle  {cursor: default; position: absolute;}
div.demo{ padding:0; width:div.demo; float:left;}
div.demo p{ padding:0; margin:0;}
.demo p.price-range label{font:normal 11px Arial, Helvetica, sans-serif;}
.user-write-rating.demo{display: inline-block; height: 20px; text-align:left; width:186px;}
.user-write-rating.demo .ui-slider-horizontal{background:url("../images/sliderbg-writeuserratings.gif") no-repeat 0 0; height:20px; padding:0;}
.user-write-rating.demo .ui-slider-horizontal .ui-slider-range{padding:0; top:0;}
.user-write-rating.demo #slider {width:185px; padding:0; height:15px; margin:0}
.user-write-rating.demo .ui-slider-horizontal .ui-slider-handle{margin-top:0;height:9px; background:#0A174B; border:solid 1px #0A174B; top:0;}
.user-write-rating.demo input{background:#FCFFF6;}

/*write user review classes*/
.write-user-review{ width:658px; padding:10px 5px; clear:both; border:solid 1px #ccc;}
.write-user-review input {border:solid 1px #ccc;}
.write-user-review span.section{ padding-bottom:5px; clear:both; display:block;}
.write-user-review span.section div{ padding:5px 0; clear:both;}
.write-user-review span.section .label{ width:155px; display:inline-block; float:left;}
.write-user-review span.section input.submit-review{ background: url("../images/btn-submit.gif") no-repeat; border:none; width:102px; height:27px; cursor:pointer; text-indent:999px;}
.write-user-review span.section select{ border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA; border: solid 1px #ccc; color: #777777; font: normal 12px Arial; padding:0; width:180px;}
.write-user-review h2{ font-size:14px; border-bottom:solid 3px #94DA16; padding:5px 0;}
.write-user-review p { clear:both; padding:2px 0;}

.rating-component-single{padding:5px 0; background:#fcfff6; clear:none !important; float:left !important; width:300px; padding:5px 10px !important;}
.review-section-head{ clear:both; float:left;}
.review-section-head h2{ border:none; color:#fff; float:left; background:; padding:5px; background:url(../images/write-review-section-head.gif) no-repeat; width:160px; height:27px; font-size:12px; text-align:center;}

/*classes from jquery ad gallery(model photo gallery)*/
.ad-gallery {
	width: 600px;
}
.ad-gallery, .ad-gallery * {
	margin: 0;
	padding: 0;
}
.ad-gallery .ad-image-wrapper {
	width: 100%;
	height: 400px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.ad-gallery .ad-image-wrapper .ad-loader {
	position: absolute;
	z-index: 10;
	top: 48%;
	left: 48%;
	border: 1px solid #CCC;
}
.ad-gallery .ad-image-wrapper .ad-next {
	position: absolute;
	right: 0;
	top: 0;
	width: 25%;
	height: 100%;
	cursor: pointer;
	display: block;
	z-index: 100;
}
.ad-gallery .ad-image-wrapper .ad-prev {
	position: absolute;
	left: 0;
	top: 0;
	width: 25%;
	height: 100%;
	cursor: pointer;
	display: block;
	z-index: 100;
}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
/* Or else IE will hide it */
	background: url(non-existing.jpg)\9
}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
	background: url(ad_prev.png);
	width: 30px;
	height: 30px;
	display: none;
	position: absolute;
	top: 47%;
	left: 0;
	z-index: 101;
}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
	background: url(ad_next.png);
	width: 30px;
	height: 30px;
	right: 0;
	left: auto;
}
.ad-gallery .ad-image-wrapper .ad-image {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 9;
}
.ad-gallery .ad-image-wrapper .ad-image a img {
	border: 0;
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 7px;
	text-align: left;
	width: 100%;
	z-index: 2;
	background: url(opa75.png);
	color: #000;
	display:none;
}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
	display: block;
}
.ad-gallery .ad-controls {
	height: 20px;
}
.ad-gallery .ad-info {
	float: left;
}
.ad-gallery .ad-slideshow-controls {
	float: right;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
	padding-left: 5px;
	cursor: pointer;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
	padding-left: 5px;
	font-size: 0.9em;
}
.ad-gallery .ad-slideshow-running .ad-slideshow-start {
	cursor: default;
	font-style: italic;
}
.ad-gallery .ad-nav {
	width: 100%;
	position: relative;
}
.ad-gallery .ad-forward, .ad-gallery .ad-back {
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 10;
}
/* IE 6 doesn't like height: 100% */
* html .ad-gallery .ad-forward, .ad-gallery .ad-back {
	height: 100px;
}
.ad-gallery .ad-back {
	cursor: pointer;
	left: -20px;
	width: 13px;
	display: block;
	background: url(../images/ad_scroll_back.png) 0px 22px no-repeat;
}
.ad-gallery .ad-forward {
	cursor: pointer;
	display: block;
	right: -20px;
	width: 13px;
	background: url(../images/ad_scroll_forward.png) 0px 22px no-repeat;
}
.ad-gallery .ad-nav .ad-thumbs {
	overflow: hidden;
	width: 100%;
}
.ad-gallery .ad-thumbs .ad-thumb-list {
	float: left;
	width: 9000px;
	list-style: none;
}
.ad-gallery .ad-thumbs li {
	float: left;
	padding-right: 5px;
}
.ad-gallery .ad-thumbs li a {
	display: block;
}
.ad-gallery .ad-thumbs li a img {
	border: 3px solid #CCC;
	display: block;
}
.ad-gallery .ad-thumbs li a.ad-active img {
	border: 3px solid #616161;
}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
	position: absolute;
	left: -9000px;
	top: -9000px;
}
/*ad gallery classes ends here*/

/*aside classes*/
aside{ width:300px; float:right; overflow:hidden; margin-bottom:20px;}
/**************** Aside Css By Varsha Start *****************/
.signUpTeaser{ border:2px solid #666; width:282px; padding:3px 7px; background:#ffaf23; height:68px; margin-bottom:12px; position:relative;}
#signUpTeaser-overlay{width:282px; padding:3px 7px; background: url("/images/ajax-loader-blue.gif") no-repeat center #fff; height:68px; text-align:center; position:absolute; left:0; top:0; opacity:0.9;display:none;}
h2.signup{ font-size:15px; color:#003a7a; font-weight:bold; line-height: 29px; cursor:default; }
.signupIcon{background:url('../images/sprite.png?v=2') no-repeat;}
.signUpPos{ background-position:-287px -34px;height: 28px;width: 27px; float:left;margin-right: 5px; margin-top: 1px;}
.signUpTeaser input{ background:url(../images/signupTxtBg.gif) repeat-x; height:24px; float:left; margin-top:5px; padding:0px 5px; _padding:5px 5px 5px; color:#999; width:178px; margin-right:8px; float:left;}
button.signupAside{ padding:6px 10px; cursor:pointer;overflow:hidden; _width:70px; color:#003a7a; cursor:pointer; border:1px solid #b3b3b3;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #b3b3b3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#b3b3b3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#b3b3b3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#b3b3b3 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#b3b3b3 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #eeeeee 0%,#b3b3b3 100%); /* W3C */
	border-color: -moz-linear-gradient(top, #b7b1a7, #000000); 
	-webkit-box-shadow: 1px 1px 0px 1px #cf8e1c;
	-moz-box-shadow: 1px 1px 0px 1px #cf8e1c;
	box-shadow: 1px 1px 0px 1px #cf8e1c;
}
.top-rate-sell{ background:#ccd9e6; margin:0 auto;}
.top-rate-tabs{ height:30px; border-top:1px solid #2977b8; overflow:hidden;
	background: #005eab; /* Old browsers */
	background: -moz-linear-gradient(top, #005eab 1%, #003b7b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#005eab), color-stop(100%,#003b7b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005eab 1%,#003b7b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005eab 1%,#003b7b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #005eab 1%,#003b7b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005eab', endColorstr='#003b7b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #005eab 1%,#003b7b 100%); /* W3C */
}
.top-rate-tabs ul{height:30px;  margin-left: 3px;}
.top-rate-tabs ul li { float:left;}
.top-rate-tabs ul li a{ color:#fff; padding:3px 10px; float:left;margin-top: 9px; text-decoration:none; margin-left:5px; font-weight:bold;}
.top-rate-tabs ul li a:hover{padding:3px 10px; color:#000;background:#ccd9e6;height: 18px; text-decoration:none;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	-webkit-box-shadow: inset 0px 0px 2px 1px #8f98a1;
	-moz-box-shadow: inset 0px 0px 2px 1px #8f98a1;
	box-shadow: inset 0px 0px 2px 1px #8f98a1;

}
.top-rate-tabs ul li a.active{padding:3px 10px; color:#000;background:#ccd9e6;height: 18px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	-webkit-box-shadow: inset 0px 0px 2px 1px #8f98a1;
	-moz-box-shadow: inset 0px 0px 2px 1px #8f98a1;
	box-shadow: inset 0px 0px 2px 1px #8f98a1;
}
#topRatedContent{ padding:14px 9px;}
#topSellContent{ padding:14px 9px;}
.rate{ float:left; padding:20px 10px; background:#005eab; color:#fff;margin-right: 3px; height:14px; overflow:hidden;}
.rate a{ color:#fff;font-weight:bold; }
.rate a:hover{ text-decoration:underline;}
.rateWidth1{width:225px;}
.rateWidth2{width:205px;}
.rateWidth3{width:175px;}
.rateWidth4{width:145px;}
.rateWidth5{width:115px;}

.rateNo{ font-size:48px; font-weight:bold; color:#003a7a; cursor:default;}
/**************** Aside Css By Varsha End *******************/

/*prefooterad module classes*/
.prefooter-ad{ padding:30px 0; text-align:center; clear:both;}

/*footer classes*/
#footer-outer{ width:100%; background:url(../images/footertop-bg.gif) repeat-x top; }
footer{ width:980px; overflow:hidden; margin:0 auto; text-align:center; padding:40px 0;}
footer a{ color:#003b7b; text-decoration:none; display:inline-block; padding:0 5px; border-right: solid 1px #003B7B; margin-top:15px;}
footer a.last{border-right:none;}
.loader-div {
    height: 20px;
    text-align: center;
	position: absolute;
    z-index: 100;
	float:right;
	margin-left:600px;
}
.show {display: block;}
.hide {display: none;}
.defaultText { width: 300px; }
.defaultTextActive { color: #a1a1a1; }
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
	background: none repeat scroll 0 0 #EEEEEE;
	border: 2px solid #004188;
	display: block;
	left: 469px;
	overflow: xhidden;
	padding: 5px;
	position: relative;
	top: -1214px;
	width: 415px;
	z-index: 10000 !important;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
.ui-autocomplete li{padding:5px 2px; border-bottom:1px solid #ddd;}
.ui-autocomplete li:hover{background:#005DAB; color:#fff; cursor:pointer;}
.ui-autocomplete li a{width:100%; float:none; display:block;}
.ui-autocomplete li a:hover{color:#fff; text-decoration:none; width:100%;}

.page404 {font:bold 12px arial;}
.page404 h3{font:bold 14px arial; padding:5px 0; float:none; clear:both; border-bottom:solid 3px #ddd;}
.page404 p{font:bold 12px arial; padding:2px 0;}
.page404 ul{padding:0; margin:0;}
.page404 ul li{line-height: 20px;  list-style-image: url("../images/bullet.gif"); list-style-position: inside;}
.logobgr{ width:120px; height:106px; display:block; margin:0px; text-indent:-999px; float:right; background:url(http://st1.bgr.in/wp-content/themes/bgr2010/images/bgr_logo1.png) no-repeat;}

.RHSAd {border: 0 solid #666666;margin-bottom: 12px;padding: 0;position: relative;}

#pager_links{float:right; margin:5px 25px 0 0;}
#pager_links a { text-decoration:none; color:#DF9802; padding:1px 4px 1px 4px; margin:2px; font:bold 12px arial;}
#pager_links a:hover { text-decoration:underline; padding:1px 4px 1px 4px; margin:2px; }
#current_page { padding:1px 4px 1px 4px; margin:2px; color:#666; font-weight:bold;}

#wrapper {
	height:100%;
	margin:0 auto;
	position:relative;
}
#about_popup {
	width:450px;
	height:30px;
	padding:10px;
	background:#333;
	position:fixed;
	right:0;
	bottom:0;
	display:none;
	-moz-border-radius-topleft:20px;
	-moz-border-radius-topright:20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
}
#about_popup h1 {
	color:#fff;
	margin:0;
	font-size:14px;
	font-weight:bold;
}
#about_popup p {
	margin:0;
	color:#fff;
}
.addButtonClick {
opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */
}
.remProduct{
	padding:5px;
	margin:5px;
	float:left;
}
.remProduct img{float:left; margin: 2px 2px 0 0;}
.compare-box-wrap {
    border: 2px solid #005EAB;
    float: left;
    width: 635px;
	margin-bottom: 8px;
}
.pointer{
	cursor: hand;
	cursor:pointer;
}

#floating-box{
	height:50px;
	background-color:#CCD9E6;
	/*margin:8px;*/
	/*position:absolute;*/
	z-index:1;
}
.searchLinkBottom{ 
	width:100%;
	text-align:center;
	margin-top: 10px;
}