<div class="clear"></div>

<div class="clear"></div>
<footer>
	<div class="sitindx-ttl-wrap">
    	<div class="sitindx-ttl">
            <a href="javascript:void(0)" title="" class="btn-sitindx"><span class="sitxt">SITE INDEX </span><span class="sprit-icon sitarr"></span></a>
            <div class="clear"></div>
       </div>
    </div>
    <div class="sprit-icon lnkhdwrap">
    	<div class="lnkhd">
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News']);" title="News"  href="http://zeenews.india.com" target="_blank" class="news">News</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood']);" title="Bollywood"  href="http://www.bollywoodlife.com/" target="_blank" class="bolly">Bollywood</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Travel']);" title="Travel"  href="http://travel.india.com" target="_blank" class="travel">Travel</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Gadgets']);" title="Gadgets"  href="http://gadgets.india.com/" target="_blank" class="gadgets">Gadgets</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars']);" title="OnCars"  href="http://www.oncars.in" target="_blank" class="oncars">OnCars</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges']);" title="Indian Colleges"  href="http://www.indiancolleges.com/" target="_blank" class="indcolgs">Indian Colleges</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'BGR / Tech']);" title="BGR / Tech"  href="http://www.bgr.in/" target="_blank" class="bgr">BGR /&nbsp;Tech</a> 
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health']);" title="Health"  href="http://health.india.com/" target="_blank" class="health">Health</a>
            <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country']);" title="Cricket Country"  href="http://www.cricketcountry.com/" target="_blank" class="cc">Cricket Country</a>
        </div>
        <div class="clear"></div>
    </div> 
    <div class="fotlnkwrapper">
        <div class="fotlink-holder">
            <aside class="news">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Nation']);" title="Nation" target="_blank" href="http://zeenews.india.com/nation/index.html">Nation</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - States']);" title="States" target="_blank" href="http://zeenews.india.com/State/News/index775.html">States</a>				
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - World']);" title="World" target="_blank" href="http://zeenews.india.com/world/index.html">World</a>				
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - South Asia']);" title="South Asia" target="_blank" href="http://zeenews.india.com/southasia/index.html">South Asia</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Business']);" title="Business" target="_blank" href="http://zeenews.india.com/business/">Business</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Sports']);" title="Sports" target="_blank" href="http://zeenews.india.com/sports/index.html">Sports</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Cricket']);" title="Cricket" target="_blank" href="http://zeenews.india.com/cricket/">Cricket</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Sci-Tech']);" title="Sci-Tech" target="_blank" href="http://zeenews.india.com/sci-tech/index.html">Sci-Tech</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Showbiz']);" title="Showbiz" target="_blank" href="http://zeenews.india.com/entertainment/">Showbiz</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Recipes']);" title="Recipes" target="_blank" href="http://zeenews.india.com/entertainment/gourmet/">Recipes</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Health']);" title="Health" target="_blank" href="http://zeenews.india.com/health/index.html">Health</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Exclusive']);" title="Exclusive" target="_blank" href="http://zeenews.india.com/exclusive/index.html">Exclusive</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Blogs']);" title="Blogs" target="_blank" href="http://zeenews.india.com/blog/allblog.html">Blogs</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Pics']);" title="Pics" target="_blank" href="http://zeenews.india.com/photogallery.html">Pics</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Videos']);" title="Videos" target="_blank" href="http://zeenews.india.com/videos/default.html">Videos</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'News - Archives']);" title="Archives" target="_blank" href="http://zeenews.india.com/archives/index.html">Archives</a>
            </aside>
            <aside class="bolly">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood - News &amp; Gossip']);" title="News &amp; Gossip" target="_blank" href="http://www.bollywoodlife.com/">News &amp; Gossip</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood - Style']);" title="Style" target="_blank" href="http://www.bollywoodlife.com/topics/style/">Style</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood - South Gossip']);" title="South Gossip" target="_blank" href="http://www.bollywoodlife.com/topics/south-gossip/">South Gossip</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood - Pics']);" title="Pics" target="_blank" href="http://www.bollywoodlife.com/pics/">Pics</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Bollywood - Hollywood life']);" title="Hollywood life" target="_blank" href="http://www.hollywoodlife.com/">Hollywood life</a>
            </aside>
            <aside class="travel">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Travel - Travelogue']);" title="Travelogue" target="_blank" href="http://travel.india.com/category/travel-blogs">Travelogue</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Travel - Destinations']);" title="Destinations" target="_blank" href="http://travel.india.com/destinations">Destinations</a>
            </aside> 
            <aside class="gadgets">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Gadgets - Phone finder']);" title="Phone finder" target="_blank" href="http://gadgets.india.com/Mobile-finder">Phone finder</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Gadgets - Phone list']);" title="Phone list" target="_blank" href="http://gadgets.india.com/Mobile-finder/Brand-all/Price-all">Phone list</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Gadgets - Compare phones']);" title="Compare phones" target="_blank" href="http://gadgets.india.com/Compare-mobiles">Compare phones</a>
            </aside> 
            <aside class="oncars">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - New Car Search']);" title="New Car Search" target="_blank" href="http://www.oncars.in/Newcar-Search">New Car Search</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Car Finder']);" title="Car Finder" target="_blank" href="http://www.oncars.in/Newcar-Search">- Car Finder</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - All Cars']);" title="All Cars" target="_blank" href="http://www.oncars.in/Car-finder">- All Cars</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Compare Cars']);" title="Compare Cars" target="_blank" href="http://www.oncars.in/Compare-cars">- Compare Cars</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Oncars Comparisons']);" title="Oncars Comparisons" target="_blank" href="http://www.oncars.in/Compare-Choose-Cars">- Oncars Comparisons</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Reviews']);" title="Reviews" target="_blank" href="http://www.oncars.in/Car-Reviews">Reviews</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Oncars Review']);" title="Oncars Review" target="_blank" href="http://www.oncars.in/Car-Reviews">- Oncars Review</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - User Review']);" title="User Review" target="_blank" href="http://www.oncars.in/Car-User-Reviews">- User Review</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Write a Review']);" title="Write a Review" target="_blank" href="http://www.oncars.in/Reviews/Write-Car-Review">- Write a Review</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - News']);" title="News" target="_blank" href="http://www.oncars.in/Car-News">News</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - OnCars+']);" title="OnCars+" target="_blank" href="http://www.oncars.in/car-articles">OnCars+</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Videos &amp; Photos']);" title="Videos &amp; Photos" target="_blank" href="http://www.oncars.in/Car-videos">Videos &amp; Photos</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Videos']);" title="Videos" target="_blank" href="http://www.oncars.in/Car-videos">- Videos</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'OnCars - Photo Gallery']);" title="Photo Gallery" target="_blank" href="http://www.oncars.in/Car-Slideshow-List">- Photo Gallery</a>
            </aside> 
            <aside class="indcolgs">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges - Buzz']);" title="Buzz" target="_blank" href="http://www.indiancolleges.com/all-news">Buzz</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges - Colleges']);" title="Colleges" target="_blank" href="http://www.indiancolleges.com/colleges/listing">Colleges</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges - Courses']);" title="Courses" target="_blank" href="http://www.indiancolleges.com/colleges/listing">Courses</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges - Q &amp; A']);" title="Q &amp; A" target="_blank" href="http://www.indiancolleges.com/questions-answer/listing">Q &amp; A</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Indian Colleges - College Reviews']);" title="College Reviews" target="_blank" href="http://www.indiancolleges.com/write-review">College Reviews</a>
            </aside> 
            <aside class="bgr">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'BGR - Gallery']);" title="Gallery" target="_blank" href="http://www.bgr.in/gallery/">Gallery</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'BGR - Reviews']);" title="Reviews" target="_blank" href="http://www.bgr.in/category/sections/reviews/">Reviews</a>
            </aside> 
            <aside class="health">
                
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Fitness']);" title="Fitness" target="_blank" href="http://health.india.com/category/fitness/">Fitness</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Beauty']);" title="Beauty" target="_blank" href="http://health.india.com/category/beauty/">Beauty</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Stress']);" title="Stress" target="_blank" href="http://health.india.com/category/stress/">Stress</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Sexual Healths']);" title="Sexual Healths" target="_blank" href="http://health.india.com/category/sexual-health/">Sexual Health</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Diseases &amp; Conditions']);" title="Diseases &amp; Conditions" target="_blank" href="http://health.india.com/category/diseases-conditions/">Diseases &amp; Conditions</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Health - Health News']);" title="Health News" target="_blank" href="http://health.india.com/news/">Health News</a>
            </aside>   
            <aside class="cc">
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - News']);" title="News" target="_blank" href="http://www.cricketcountry.com/cricket-articles/news/19">News</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Feature']);" title="Feature" target="_blank" href="http://www.cricketcountry.com/cricket-articles/all">Feature</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Articles']);" title="Articles" target="_blank" href="http://www.cricketcountry.com/cricket-articles/articles/8"> - Article </a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Humour']);" title="Humour" target="_blank" href="http://www.cricketcountry.com/cricket-articles/humour/36"> - Humour</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Interviews']);" title="Interviews" target="_blank" href="http://www.cricketcountry.com/cricket-articles/interviews/37"> - Interviews</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Facts And Figures']);" title="Facts And Figures" target="_blank" href="http://www.cricketcountry.com/cricket-articles/facts-and-figures/35"> - Facts And Figures</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Moments In History']);" title="Moments In History" target="_blank" href="http://www.cricketcountry.com/cricket-articles/moments-in-history/39"> - Moments In History</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Serials']);" title="Serials " target="_blank" href="http://www.cricketcountry.com/cricket-articles/serials/38"> - Serials </a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Gallery']);" title="Gallery" target="_blank" href="http://www.cricketcountry.com/Cricket-Photo-Gallery">Gallery</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Video']);" title="Video" target="_blank" href="http://www.cricketcountry.com/Cricket-Video-Gallery">Video</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Cricketcountry on Youtube']);" title="Cricketcountry on Youtube" target="_blank" href="http://www.cricketcountry.com/youtube-videos">Cricketcountry on Youtube</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Fans']);" title="Fans" target="_blank" href="http://www.cricketcountry.com/cricket-fan/posts-page/all/1">Fans</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Fan Post']);" title="Fan Post" target="_blank" href="http://www.cricketcountry.com/cricket-fan/posts-page/all/1"> - Fan Post</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Fan List']);" title="Fan List" target="_blank" href="http://www.cricketcountry.com/cricket-fan/profiles-page/active/1"> - Fan List</a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Author']);" title="Author" target="_blank" href="http://www.cricketcountry.com/editor-profiles">Author </a>
                <a onClick="_gaq.push(['_trackEvent', 'Explore India.com - Footer Links', 'Clicked', 'Cricket Country - Sachin']);" title="Sachin" target="_blank" href="http://www.cricketcountry.com/tags/Sachin-Tendulkar/post">Sachin</a>
            </aside> 
    
            <div class="clear"></div>        
        </div>
        <div class="clear"></div> 
    </div>       
    <div class="copyrights">
        <p>Copyright © 2013 India.com. All Rights Reserved.    
            <span>
                <a href="javascript:void(0)" onclick="javascript:advertisewithus();" >Advertise With Us</a> | 
                <a href="javascript:void(0)" onclick="javascript:aboutus();" >About Us</a> | 
                <a href="javascript:void(0)" onclick="javascript:disclaimer();">Disclaimer</a> | 
                <a href="javascript:void(0)" onclick="javascript:privacy();">Privacy Policy</a> | 
                <a href="javascript:void(0)" onclick="javascript:contactus();">Contact Us</a>
            </span>
        </p>
        <div class="clear"></div> 
    </div> 
   <div class="clear"></div>        
</footer>
<script type="text/javascript">
	$(window).load(function(){ //$(window).load() must be used instead of $(document).ready() because of Webkit compatibility				
		$(".featuredstories").sliderkit({
			shownavitems:4,
			scroll:4,
			auto:true,
			delaycaptions:false,
			circular:true,
			navscrollatend:true,
			counter:true
		});
		
		$(".innersection").last().addClass('clearspace noborder');
			
		$(".innerlist").each(function(){
			$(this).find("li.lftblk").last().css('padding-right','0px');						  
		});
               // $(".othrstrs .secnav li:first").addClass('active');
	       // $(".otherstr-wrap .othrstr-cont:first").addClass('active');
		
		$(".othrstrs .secnav li a").click(function(){
			var cclk = $(this).parent().index()+1;
			$(this).parent().parent().find('.active').removeClass('active');
			$(this).parent().addClass('active');
			$(".otherstr-wrap").find('.active').removeClass('active');
			$(".otherstr-wrap .othrstr-cont:nth-child("+cclk+")").addClass('active');
		});                
   });     
   
	//########################### Footer Script starts
	var nocallleave = true;
        var t="";
	botlinkht = $('.fotlink-holder').height();
	copyht = $('footer .copyrights').height();
	$('.fotlink-holder').hide();
	$('footer .copyrights').hide();
	$('footer .lnkhdwrap').css({ opacity: 0.5 });
	
	function mouseleavefun(){
	 	var myview = $(".fotlink-holder").css("display");
		if(myview == "none"){
			
		}
		else{
			mytop = $("footer").position().top;
			newtop = mytop + botlinkht + copyht;
			 $('footer').animate({
				top: newtop
			}, 500, function() {
				$(".fotlink-holder").hide();
				$("footer .copyrights").hide();
			}); 
			  
		}
	}
	
	$('.btn-sitindx, footer .lnkhdwrap').click(function(){
		var myview = $('.fotlink-holder').css('display');
		if(myview == 'none'){
			$('.fotlink-holder').show();
			$('footer .copyrights').show();
			$(".lnkhdwrap").css({ opacity: 1 });
			mytop = $('footer').position().top;
			newtop = mytop - botlinkht - copyht;
			$('footer').animate({
				top: newtop
			  }, 500 );
		}
		else
		{
			mytop = $('footer').position().top;
			newtop = mytop + botlinkht + copyht;
			//$('footer').css('top', newtop+'px');
			$('footer').animate({
				top: newtop
			}, 500, function() {
				$(".fotlink-holder").hide();
				$("footer .copyrights").hide();
				$(".lnkhdwrap").css({ opacity: 0.5 });

			}); 
		}
		t = setTimeout(function(){ 
			nocallleave = true;
		}, 1000);
		nocallleave = false;
	
	});


	
	
	
	$("footer").on("mouseenter",function(){
		$('.lnkhdwrap').css({ opacity: 1 });
		clearTimeout(t);
	}).on("mouseleave",function(){
	 	t = setTimeout(function(){ 
			if(nocallleave == true){
				mouseleavefun();			
				$('.lnkhdwrap').css({ opacity: 0.5});
			}	
		}, 1000);		
		if(nocallleave == true)	$('.lnkhdwrap').css({ opacity: 0.5});

	});
	
	

    function stickyFooter(){
        myposfot = $(window).scrollTop()+$(window).height()-$("footer").height();
        if ($.browser.msie && $.browser.version == 7 || $.browser.version == 9 ) {
            
            myposfot = myposfot -4;
        };
        $("footer").addClass('fotscrpos').css({top:myposfot+"px"});
    }
    
    
	stickyFooter();
	
	$(window).scroll(stickyFooter);
	$(window).resize(stickyFooter);
        var muflag = false;
               
        $('.sliderkit-panels').mouseover(function(){
            if($('.sliderkit-play-btn').hasClass('sliderkit-pause-btn')) {
                muflag = true;
                $('.sliderkit-play-btn').trigger('click');
            }else{
            
            }
        });
        
        $('.sliderkit-panels').mouseout(function(){
            if(muflag)            $('.sliderkit-play-btn').trigger('click');
            muflag = false;
        });
	


        $('.sliderkit-nav-clip').mouseover(function(){
            if($('.sliderkit-play-btn').hasClass('sliderkit-pause-btn')) {
                 muflag = true;
                $('.sliderkit-play-btn').trigger('click');
            }else{
            
            }
        });
        
        $('.sliderkit-nav-clip').mouseout(function(){
        
            if(muflag)           $('.sliderkit-play-btn').trigger('click');
            muflag = false;
        });
        
        


	//######################## Footer Script ends
        
$(".innerlist").each(function(){
	$(this).find("li.lftblk").last().css('padding-right','0px');						  
});
	$("#adbanner.innerlist").each(function(){
		$(this).find("li.lftblk").first().css('padding-right','20px');								   
		$(this).find("li.lftblk").last().css('padding-right','0px');						  
	});
$("aside.careerght figure:last").addClass('clearspace noborder')
</script>
 </body>
</html>
