<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>India | Latest India News | Get Free India.com Email | Live Cricket and Entertainment News at India.Com</title>
<meta name="description" content="India news & live updates on cricket, entertainment & latest technology by India.com - Proud to be India. Start using India's most amazing free email experience: India.com Mail now."></meta><meta name="keywords" content="India, india news, indian politics, cricket updates, tech reviews, free mail, free email id, Indian email id, Indian mail id, technology in india"></meta><meta name="robots" content="index, follow"></meta>
<link rel="stylesheet" type="text/css" href="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/css/homepage.css?<?php echo $_SERVER['FVERSION'];?>" />
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/html5.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/jquery-1.7.1.min.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/jquery.cookie.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script xmlns="" type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/jquery.sliderkit.1.9.2.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script xmlns="" type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/sliderkit.counter.1.0.js?<?php echo $_SERVER['FVERSION'];?>"></script><script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/necessary.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/jquery.vticker-min.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19458284-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
  
      //GA custom variable added
         // VISITOR LEVEL   
        _gaq.push(['_setCustomVar',1,'INDIACOM VISITOR','NEW LAYOUT', 1]);   
        // PAGE LEVEL
        _gaq.push(['_setCustomVar',1,'INDIACOM PAGE','NEW LAYOUT', 3]);
   //end
  
 function signUp()
{
	window.open("http://mail.india.com/register")
}
function chkMail()
{
	window.open("http://mail.india.com/login")
}
</script>
<!-- Begin comScore Tag -->
<script type="text/javascript">
    var _comscore = _comscore || [];_comscore.push({ c1: "2", c2: "9254297" });(function() {var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";el.parentNode.insertBefore(s, el);})();
</script>
<noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=9254297&amp;cv=2.0&amp;cj=1" />
</noscript>
<!-- End comScore Tag -->
</head>
<body>
    <div class="overlay" style="display:none;"></div>        
<div class="headcontainer">
 	<header class="headwrapper">
 		<div class="header">
            <?php echo $this->headerlogo; ?>
            <?php echo $this->headertopad; ?>
            <div class="clear"></div>
        </div>
        <nav class="navwrap">
        	<div class="navblk">
               <ul class="navitems">
                    <li><a href="javascript:void(0)">News</a>
                        <ul>
                            <li><a onclick="_gaq.push(['_trackEvent', 'ZeenewsTopNav', 'Clicked']);" target="_blank" href="http://zeenews.india.com">Zee News</a></li>
                            <li><a onclick="_gaq.push(['_trackEvent', 'DNAIndiaTopNav', 'Clicked']);" target="_blank" href="http://www.dnaindia.com/">DNA</a></li>
                        </ul>
                    </li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'BizTopNav', 'Clicked']);" target="_blank" href="http://zeebiz.com/">Business</a></li>
                    <li><a <a onclick="_gaq.push(['_trackEvent', 'BollywoodlifeTopNav', 'Clicked']);" target="_blank" href="http://www.bollywoodlife.com/">Bollywood</a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'VideoTopNav', 'Clicked']);" target="_blank" href="http://video.india.com/">Videos</a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'TravelTopNav', 'Clicked']);" target="_blank" href="http://travel.india.com">Travel</a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'OncarsTopNav', 'Clicked']);" target="_blank" href="http://www.oncars.in">Cars</a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'CricketcountryTopNav', 'Clicked']);" target="_blank" href="http://www.cricketcountry.com/">Cricket</a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'HealthTopNav', 'Clicked']);" target="_blank" href="http://health.india.com/">Health</a>
                        <ul class="shadow">
                            <li><a href="http://health.india.com/category/fitness/" target="_blank" onClick="_gaq.push(['_trackEvent', 'Health-FitnessTopNav', 'Clicked']);"><span class="sprit-icon"></span>Fitness</a></li>
                            <li><a href="http://health.india.com/category/beauty/" target="_blank" onClick="_gaq.push(['_trackEvent', 'Health-BeautyTopNav', 'Clicked']);"><span class="sprit-icon"></span>Beauty</a></li>
                            <li><a href="http://health.india.com/category/diseases-conditions/" target="_blank" onClick="_gaq.push(['_trackEvent', 'Health-DiseasesTopNav', 'Clicked']);"><span class="sprit-icon"></span>Diseases</a></li>
                            <li><a href="http://health.india.com/category/sexual-health/" target="_blank" onClick="_gaq.push(['_trackEvent', 'Health-SexTopNav', 'Clicked']);"><span class="sprit-icon"></span>Sex</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Education</a>
                        <ul>
                            <li><a onclick="_gaq.push(['_trackEvent', 'CollegesTopNav', 'Clicked']);" target="_blank" href="http://www.indiancolleges.com/">Indian Colleges</a></li>
                            <li><a onclick="_gaq.push(['_trackEvent', 'CareerTopNav', 'Clicked']);" target="_blank" href="http://www.careerfundas.com/">Career Fundas</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Mobile</a>
                        <ul>
                            <li><a onclick="_gaq.push(['_trackEvent', 'Mobile', 'Clicked']);" target="_blank" href="http://gadgets.india.com/">Gadgets</a></li>
                            <li><a onclick="_gaq.push(['_trackEvent', 'BGR/Tech', 'Clicked']);" target="_blank" href="http://www.bgr.in/">BGR / Tech</a></li>
                        </ul>
                    </li>
                </ul>
               <div class="indiamail">
                	<p class="ml">your.name@india.com</p>
                    <div class="signin">
                    	<span class="sprit-icon mailicon"></span>
                        <div class="signintxt"><span><a onclick="_gaq.push(['_trackEvent', 'Layout 1 IndiaSignup', 'Clicked']);" title="Sign up now!" target="_blank" href="http://www.india.com/email/register" >Sign Up</a></span>| <a  title="Mail" target="_blank" onclick="_gaq.push(['_trackEvent', 'Layout 1 IndiaCheckMail', 'Clicked']);" href="http://mail.india.com/login">Mail</a></div>
                    <div class="clear"></div>
                    </div> 
                </div>
               <div class="clear"></div>
            </div>
        </nav>
    </header>
 </div>
<div class="clear"></div>
