footer {background:@footerbg;
	h3 {background:@bgwhite; font-size:22px; 
		span{font-size:22px; width:@pagewidth; color:#333; margin:@halign-center; display:@block ;}
	}
	.footwrap{ background-repeat:repeat-x; background-color:#e5e5e5; background-position:0px -170px;  }
	.fotlink-holder {width:@pagewidth; margin:@halign-center; height:360px;}
	aside {width:@pagewidth; margin:@halign-center; float:left; border-right:1px solid #ccc; padding:0px 6px; height:100%;
		h2 {color:@txtwhite; font-size:18px;}
		h2 a{color:@txtwhite; font-size:18px; font-weight:300; margin:2px 0px 6px 0px;}
		a{color:#333; font-size:12px; display:block;}
	}
	aside.news{width:@botnav-wth;}
	aside.bolly{width:(@botnav-wth + 20px);}
	aside.travel{width:(@botnav-wth + 10px);}
	aside.gadgets{width:(@botnav-wth + 15px);}
	aside.oncars{width:(@botnav-wth + 30px);}
	aside.indcolgs{width:(@botnav-wth + 40px);}
	aside.bgr{width:(@botnav-wth + 15px);}
	aside.health{width:(@botnav-wth + 20px);}
	aside.cc{width:(@botnav-wth + 50px); border:0px;}
	.copyrights{background:@txtwhite;
		p{width:@pagewidth; text-align:center; margin:@halign-center; font-size:11px; padding:10px 0px 10px 0px; color:#333;}
		span {display:block; margin-top:5px;}
		span a{font-size:11px; color:#333; margin:0px 5px;}
	}
}
