@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html{color:#000;background:#FFF;min-height:101%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0;padding:0;font:400 1em 'Oswald', sans-serif;}
body{margin:0 auto;background:#fff;color:#3f3f3f;}
h1,h2,h3{color:#666; font-size:28px;}
/***************************************/
* html img, 
* html .png{
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "/image/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
        
    );
}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
fieldset,img{border:none; outline:none;}
.clear{clear:both;}
li{list-style:none;}
ul{list-style-type:none;}
img{border:0px; display:block;}
.cursorH{cursor: pointer;}
input{outline:none;}
header,nav,section,article,aside,figure,figcaption,footer{display:block; margin:0px; padding:0px;}
.sprit-icon{ background-image:url(../images/sprit.jpg); background-repeat:no-repeat; background-position:0px 0px;}
.nomargin{margin:0px!important;}
/***************************************/
.headwrapper { background:#0882bf;}
.header {width:960px; padding:10px 0px 10px 0px; margin:0px auto;}
.header .logo{margin:15px 0px 0px 5px; float:left; width:225px;}
.header .logo a{display:block; width:255px; height:50px; cursor:pointer; background: url(../images/india-com-logo.png) no-repeat;}
.header .topad728{float:left; width:728px; height:90px;}
.navwrap { background:#333;}
.navwrap .navblk{width:960px; margin:0px auto;}
.navwrap .navblk .navitems{ float:left; margin-left:10px; position:relative; z-index:5;}
.navwrap .navblk .navitems li {text-transform:uppercase; font-size:17px; color:#fff; display:inline-block; float:left; margin:0px 11px 2px 0px;}
.navwrap .navblk .navitems li a {color:#fff; padding:7px 3px 5px 3px; display:block;}
.navwrap .navblk .navitems li a span {height:6px; width:6px; overflow:hidden; background-position:-82px -41px; display:inline-block; position:relative; margin:0px 3px; top:-3px; *top:-7px; *left:3px;}
.navwrap .navblk .navitems li a:hover { background-color:#0882bf; text-decoration:none;}
.navwrap .navblk .navitems li a:hover span {background-position:-74px -41px;}
.navwrap .navblk .navitems li a.active { background-color:#0882bf; text-decoration:none;}
.navwrap .navblk .navitems li a.active span {height:6px; width:6px; overflow:hidden; background-position:-74px -41px; display:inline-block; position:relative; margin:0px 3px; *top:-7px; *left:3px; }
/* sub nav style starts */
.navitems li {position:relative; float:left; }
.navitems li ul {display:none; position:absolute; width:150px; background:#0882BF;}
.navitems li:hover ul {display:block;}
.navitems li ul li{float:none!important; margin:0px!important; display:block!important; font-size:14px!important; text-transform:none!important; font-weight:300;}
.navitems li ul li a{ padding:3px 5px!important; position:relative;}
.navitems li ul li a:hover{text-decoration:underline!important;}
.navitems li ul li a span{ background-position:-90px -42px!important; position:relative; *margin-right:5px!important; }
.shadow{-moz-box-shadow: 3px 3px 3px #6e6f6a; -webkit-box-shadow: 3px 3px 3px #6e6f6a; box-shadow: 3px 3px 3px #6e6f6a; }
/* sub nav ends  */
.indiamail{float:right;}
.indiamail a{color:#fff;}
.indiamail p.ml{font-size:12px; color:#fff; line-height:14px; letter-spacing:0.1em;}
.indiamail .signin{font-size:18px; text-transform:uppercase;}
.indiamail .signin .mailicon{width:26px; height:16px; display:block; float:left; margin-top:4px}
.indiamail .signin .signintxt{ float:left; color:#fff; font-weight:normal; letter-spacing:normal;}
.indiamail .signin .signintxt span{padding:0 0px 0px 2px; margin-right:4px; color:#09c;}
.indiamail .signin .signintxt span a{ color:#09c;}
#maincontainer{width:960px; margin:0px auto; padding:10px 0px;}
.sectionleft{float:left; width:650px; margin-right:10px;}
.sectionright{float:right; width:300px;}
/* carousel style  */
.bx-header h1{font-weight:400; font-size:28px;}
.bx-wrapper {position: relative;margin: 0 0 0px;padding: 0;	*zoom: 1;}
.bx-wrapper ul, .bx-wrapper li {margin:0px; padding:0px;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {	position: absolute;	top:-25px; width:650px;}
.bx-wrapper .bx-viewport {}
/* LOADER */
.bx-wrapper .bx-loading{min-height:50px; background:url(images/bx_loader.gif) center center no-repeat #fff; height:100%; width:100%; position:absolute; top:0; left:0; z-index:2000;}
/* PAGER */
.bx-wrapper .bx-pager {text-align:right; position:absolute; width:450px; right:0px; }
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; } 
.bx-wrapper .bx-pager.bx-default-pager a {background:#ccc; text-indent:-9999px; display: block; width: 10px; height: 10px; margin:0px 0px 0px 5px; outline: 0; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #09c; }

/* custom style by erfan */ 
.bx-controls-direction {position:absolute; top:100px; width:100%;}
.bx-controls-direction .bx-prev{left:0px; background-position:0 -42px; width:35px; height:35px; overflow:hidden; position:absolute}
.bx-controls-direction .bx-next{right:0px; background-position:-35px -42px; width:35px; height:35px; overflow:hidden; position:absolute;}

a.bx-prev,a.bx-next{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}
a.bx-prev:hover, a.bx-next:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
a.bx-start.start,a.bx-start.stop {display:none;}
.bx-viewport ul li {position:relative;}
.bx-container{width:100%; display:block;background:#000; position:relative; height:250px; overflow:hidden;}
.bx-container .bx-containertext-wrapper{padding:9px 7px;width:40%; display:block;color:#fff;float:right; position:absolute; right:0px; top:0px; height:100%;}
.bx-container .bgbx{position:absolute; left:0px; top:0px; width:101%; height:101%;
background:#000; opacity:0.5;
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 11%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=1 );  IE6-9 */

	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#00000000', endColorstr='#99000000'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#00000000', endColorstr='#99000000')"; /* IE8 */

}
.bx-container .bx-contenttxt{position:relative;  margin-left:10%; }
.bx-container .bx-containertext-wrapper h3{color:#fff;font-size:18px;font-weight:400;line-height:24px;margin:0 0 6px;}
.bx-container .bx-containertext-wrapper h3 a{color:#09c; text-decoration:none;}
.bx-container .bx-containertext-wrapper h3 a:hover{text-decoration:underline;}
.bx-container .bx-containertext-wrapper p{ margin:0 0 6px;font-size:12px;font-weight:normal;line-height:16px;}
.bx-container .bx-containertext-wrapper .bx-imptext{font-weight:400;font-size:12px;margin:8px 0 8px;display:block; color:#09c;}
.bx-imp-stories{margin:0;padding:0;}
.bx-imp-stories li{margin:0px 0px 5px 0px;padding:0;list-style-type:disc;color:#037ffd;margin-left:12px;font-size:12px;}
.bx-imp-stories li span{color:#fff;}
.bx-imp-stories li a{color:#fff;font-size:12px; text-decoration:none;}
.bx-imp-stories li a:hover{text-decoration:underline;}
.bx-container .bx-imgbox a{display:block;}

/* carousel style  ends*/

/* infotainment carousel */
#infotainment {margin-bottom:10px; clear:both;}
#infotainment h2{font-size:28px; line-height:29px;}
#infotainment .bx-wrapper {margin-top:5px;}
#infotainment .bx-wrapper .bx-pager{width:125px;}
#infotainment .bx-pager-item .bx-pager-link{-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#infotainment .bx-viewport {font-size:12px; color:#666;}
#infotainment .bx-viewport a{display:block; color:#333; text-decoration:none;}
#infotainment .bx-viewport a:hover{text-decoration:underline;}
#infotainment .bx-wrapper .bx-pager.bx-default-pager a {height:9px; width:9px;}
#infotainment .ldstr1{float:left; width:146px; margin-top:10px;}
#infotainment .ldstr1 figcaption {line-height:16px;}
#infotainment .ldstr1 figcaption a{color:#666; font-size:12px; line-height:normal;}
#infotainment .ldmr{margin-right:8px;}

/*  infotainment carousel  style  ends */

#nwstrwrap{margin-top:10px; display:block; border-bottom:1px solid #b6b6b6; padding-bottom:10px;}
.nwstr {width:350px; float:left;}
.nwstr h1{font-size:28px; font-weight:400;border-bottom:1px solid #b6b6b6; margin-bottom:5px; }
.nwstr figure{font-size:12px;}
.nwstr figure figcaption, .nwstr figure figcaption a{color:#09c; font-size:14px;}
.nwstr figure .more{float:right; color:#09c;}
.nwstr .ldstr1{float:left; width:170px; margin-top:10px;}
.nwstr .ldstr1 figcaption a{color:#09c; font-size:14px;}
.ldmr{margin-right:10px;}

.othstr {width:280px; float:left; margin-left:20px;}
.othstr h1{font-size:28px; font-weight:400;border-bottom:1px solid #b6b6b6; margin-bottom:5px; }
.othstr figure{font-size:12px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #eee;  }
.othstr figure img{float:left; width:94px; margin-right:6px;}
.othstr figcaption {float:left; width:180px; font-size:12px!important; color:#666;}
.othstr figcaption a {font-size:12px!important; color:#333;}
.othstr .noborder{border:0px; margin:0px; padding:0px;}

.ad640-80{margin:15px auto 0px auto; width:640px;}

#secblk{width:100%; font-size:12px; margin-top:15px;}
#secblk .lftblk{float:left; width:346px;}
#secblk .rtblk{margin-left:20px; float:left;}
#secblk .lftblk figure{ background:#383838; padding:1px;}
#secblk .lftblk figure figcaption{ color:#fff; padding:3px 5px; height:37px;}
#secblk .lftblk figure a {color:#fff;}
#secblk .lftblk h2{border-bottom:5px solid #069; font-size:24px; color:#fff;}
#secblk .lftblk h2 span{max-width:130px; padding:0px 5px; display:block; line-height:25px; font-weight:300; text-transform:uppercase; }
#secblk .lftblk h2.vidttl{border-bottom:5px solid #069;}
#secblk .lftblk h2.vidttl span{background:#069; }
#secblk .lftblk .tbvid {display:none;}
#secblk .lftblk .active{display:block;}
#secblk .lftblk1{width:200px; margin-right:20px;}
#secblk .lftblk1 figure{padding:0px; background:none; height:160px; overflow:hidden;}
#secblk .lftblk1 figure img{border-bottom:5px solid #1b8ab1;}
#secblk .lftblk1 figcaption, #secblk .lftblk1 figcaption a {font-size:14px; color:#09c!important; padding:3px 0px 3px 5px!important;}
#secblk .lftblk1 ul{ height:111px; overflow:hidden;}
#secblk .lftblk1 li{list-style-type:disc; margin-left:20px; font-size:12px; color:#666; padding-bottom:3px;}
#secblk .lftblk1 a{color:#666;}
#secblk .lftblk1 a.readmore{ background:#999; color:#fff; display:block; float:right; padding:3px 5px; cursor:pointer;}
#secblk .ent h2{border-bottom:5px solid #d70ad5;}
#secblk .ent h2 span{background:#d70ad5; max-width:140px;}
#secblk .autos h2{border-bottom:5px solid #f30;}
#secblk .autos h2 span{background:#f30;}
#secblk .sports h2{border-bottom:5px solid #09f;}
#secblk .sports h2 span{background:#09f;}
#secblk .career h2{border-bottom:5px solid #9f63cf;}
#secblk .career h2 span{background:#9f63cf;}
#secblk .travel h2{border-bottom:5px solid #883a05;}
#secblk .travel h2 span{background:#883a05;}
#secblk .mobile h2{border-bottom:5px solid #082995;}
#secblk .mobile h2 span{background:#082995;}
#secblk .business h2{border-bottom:5px solid #957f08;}
#secblk .business h2 span{background:#957f08;}
.career figure{background:none!important; padding:0px!important;}
.career figure img{width:100%;}
.careerlft {padding-top:24px;}
.careerlft figure{font-size:12px; margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #eee;  }
.careerlft figure img{float:left; width:94px; margin-right:6px;}
.careerlft figcaption {float:left; width:180px; font-size:12px!important; color:#666;}
.careerlft figcaption a {font-size:12px!important; color:#333;}
.sports, .business{margin:0px!important;}
.bdrbt {border-bottom:1px solid #b6b6b6; padding-bottom:20px; margin-bottom:10px;}

#vidtab {width:280px;}
#vidtab .wghtd-tabitems {background:#e5e5e5;}
#vidtab .wghtd-tabitems a {width:auto; padding:5px; display:block; float:left; font-size:12px; color:#999; border-right:1px solid #fff;}
#vidtab .wghtd-tabitems a.selected{background:#fff; color:#666; border-right:1px solid #efefef;}
#vidtab #wghtd-tabcont {width:100%;}
#vidtab #wghtd-tabcont .tab-content { width:100%; height:213px; padding-top:5px; margin-left:0px; display:none;}
#vidtab #wghtd-tabcont .active { display:block}
.tab-content figure{background:none!important; padding:0px!important;}
.tab-content figure img{width:100%;}
.tab-content {padding-top:24px;}
.tab-content figure{font-size:12px; margin-bottom:14px; padding-bottom:15px!important; border-bottom:1px solid #eee;  }
.tab-content figure img{float:left; width:94px; margin-right:6px;}
.tab-content figcaption {float:left; width:180px; font-size:12px!important; color:#666;}
.tab-content figcaption a {font-size:12px!important; color:#333;}
.tab-content .clearfixtab{margin:0px!important; padding:0px!important; border:0px!important;}


.socialshare { text-align:right; width:100%; font-weight:300; font-size:14px; margin:5px 0px 3px 0px; clear:both;}
.socialshare span{position:relative; top:-5px; left:-5px;}
.socialshare a{ display:inline-block; width:27px; height:28px; margin-right:2px;}
.socialshare a.gplus{background-position:-32px -1px;}
.socialshare a.fb{background-position:-60px -1px;}
.socialshare a.tw{background-position:-88px -1px;}

.adbanner300{margin-bottom:10px; clear:both;}

.scoreboard{width:300px; height:142px; margin-bottom:7px; clear:both;}
#picts {margin-bottom:15px; }
#picts h2{line-height:34px;}
#picts .lftld{float:left; width:148px; margin-right:6px;}
#picts .lftld a {color:#fff; display:block;}
#picts .lftld img, #picts .rthld img{margin:0px; padding:0px; display:block;}
#picts .lftld figcaption{height:45px; background:#000; font-size:12px; color:#fff; padding:0px 5px 5px 5px;}
#picts .lftld figcaption span{color:#fff; font-size:20px; padding:2px 0px 3px 0px; display:block; line-height:23px;}
#picts .rthld {float:left; width:146px;}
#picts .rthld a {display:block;}
#picts .rthld figcaption {margin:2px 0px 13px 0px; line-height:16px;}
#picts .rthld figcaption a{font-size:12px; color:#666;}

.trvlft{ clear:both; margin-bottom:15px;}
.trvlft h2 {line-height: 32px; padding-bottom: 5px;}
.trvlcarousel {width:300px!important;}
.trvlcarousel .mid {position:relative;width:300px; height:205px; font-size:12px;}
.trvlcarousel .mid figure a {display:block; color:#333; font-size:14px;}
.trvlcarousel .jthumb-bar {height:63px; width:300px; position:relative;}
.trvlcarousel .jthumb-bar a{position:absolute; cursor:pointer; width:10px; height:63px; display:block;}
.trvlcarousel .jthumb-bar a.disabled{display:none;}
.trvlcarousel .jthumb-bar a.prev{left:0px; background-position:-74px -50px;}
.trvlcarousel .jthumb-bar a.next{right:0px; background-position:-90px -50px;}
.trvlcarousel .jthumb-bar .thumbwrap{width:276px; height:63px; overflow:hidden; margin-left:14px; float:left;}
.trvlcarousel .jthumb-bar li {margin-right:3px; width:66px; height:63px;}
.trvlcarousel .jthumb-bar li img{cursor:pointer; border:1px solid #FFF;}
.trvlcarousel .jthumb-bar li.active img{ border:1px solid #333;}
.trvlcarousel figure {display:none; position:absolute; left:0px; top:0px; }
.trvlcarousel figure.active{display:block!important;}

#adbanner300-2{margin:0px 0px 15px 0px;  clear:both;}

.food {font-size:12px; color:#666; margin-bottom:15px;}
.food h2{line-height:28px; margin-bottom:3px;}
.food a{color:#333; display:block}
.food .fdld1 {margin-top:10px;}
.food .fdld1 a.ld1{float:left; width:94px; height:50px; overflow:hidden; margin-right:10px;}
.food .fdld1 figcaption {float:left; width:190px;}
footer {position:relative; background:#e5e5e5}
footer h3 {background:#fff; font-size:22px; }
footer h3 span{font-size:22px; width:960px; color:#333; margin:0px auto; display:block;}
footer .footwrap{ background:url("../images/footstripbg.gif") #1f1f1f; height:30px; position:relative;}
footer .fotlink-holder {width:960px; margin:0px auto; height:330px;}
footer aside {width:960px; margin:0px auto; float:left; border-right:1px solid #ccc; padding:0px 6px; height:100%;}
footer aside h2 {color:#fff; font-size:18px;}
footer aside h2 a{color:#fff; font-size:18px; font-weight:300; margin:2px 0px 6px 0px;}
footer aside a{color:#333; font-size:12px; display:block;}
footer aside.news{width:70px;}
footer aside.bolly{width:90px;}
footer aside.travel{width:80px;}
footer aside.gadgets{width:85px;}
footer aside.oncars{width:100px;}
footer aside.indcolgs{width:110px;}
footer aside.bgr{width:85px;}
footer aside.health{width:90px;}
footer aside.cc{width:120px; border:0px;}
footer .copyrights{background:#fff;}
footer .copyrights p{width:960px; text-align:center; margin:0px auto; font-size:11px; padding:10px 0px 10px 0px; color:#333;}
footer .copyrights span {display:block; margin-top:5px;}
footer .copyrights span a{font-size:11px; color:#333; margin:0px 5px;}




