@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0px;padding:0px;font:400 12px 'Oswald',sans-serif;}
body{margin:0px auto;background:#ffffff;color:#666666;}
h1,h2,h3{color:#666666;font-size:28px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
fieldset,img{border:none;outline:none;}
.clear{clear:both;font-size:0px;height:0px;}
li{list-style:none;}
ul{list-style-type:none;}
img{border:0px;display:block;}
.cursorH{cursor:pointer;}
input{outline:none;}
header,nav,section,article,aside,figure,figcaption,footer{display:block;margin:0px;padding:0px;}
.sprit-icon{background-image:url(../images/sprit.jpg);background-repeat:no-repeat;background-position:0px 0px;}
.nomargin{margin:0px !important;}
.clearspace{margin:0px !important;padding:0px !important;}
.noborder{border:0px !important;}
.headwrapper{background:#0882bf;}
.header{width:960px;padding:10px 0px 10px 0px;margin:0px auto;}.header .logo{margin:15px 0px 0px 5px;float:left;width:225px;}
.header .logo a{display:block;width:255px;height:50px;cursor:pointer;}
.header .topad728{float:left;width:728px;height:90px;}
.navwrap{background:#333;margin-bottom:10px;}.navwrap .navblk{width:960px;margin:0px auto;}.navwrap .navblk .navitems{float:left;position:relative;z-index:5;left:10px;}.navwrap .navblk .navitems li{text-transform:uppercase;font-size:17px;color:#fff;display:inline-block;float:left;margin:0px 11px 2px 0px;}.navwrap .navblk .navitems li a{color:#fff;padding:7px 3px 5px 3px;display:block;}
.navwrap .navblk .navitems li a span{height:6px;width:6px;overflow:hidden;background-position:-82px -41px;display:inline-block;position:relative;margin:0px 3px;top:-3px;*top:-7px;*left:3px;}
.navwrap .navblk .navitems li a:hover{background-color:#0882bf;text-decoration:none;}
.navwrap .navblk .navitems li a:hover span{background-position:-74px -41px;}
.navwrap .navblk .navitems li a.active{background-color:#0882bf;text-decoration:none;}
.navwrap .navblk .navitems li a.active span{height:6px;width:6px;overflow:hidden;background-position:-74px -41px;display:inline-block;position:relative;margin:0px 3px;*top:-7px;*left:3px;}
.navwrap .navblk .navitems li ul{display:none;position:absolute;width:150px;background:#0882bf;}
.navwrap .navblk .navitems li:hover ul{display:block;}.navwrap .navblk .navitems li:hover ul li{float:none !important;margin:0px!important;display:block!important;font-size:14px!important;text-transform:none !important;font-weight:300;}.navwrap .navblk .navitems li:hover ul li a{padding:3px 5px!important;position:relative;}
.navwrap .navblk .navitems li:hover ul li a:hover{text-decoration:underline!important;}
.navwrap .navblk .navitems li:hover ul li a span{background-position:-90px -42px !important;position:relative;*margin-right:5px!important;}
.shadow{-moz-box-shadow:3px 3px 3px #6e6f6a;-webkit-box-shadow:3px 3px 3px #6e6f6a;box-shadow:3px 3px 3px #6e6f6a;}
.indiamail{float:right;margin-right:3px;}.indiamail a{color:#fff;}
.indiamail p.ml{font-size:12px;color:#fff;line-height:14px;letter-spacing:0.1em;}
.indiamail .signin{font-size:18px;text-transform:uppercase;}
.indiamail .signin .mailicon{width:26px;height:16px;display:block;float:left;margin-top:4px;}
.indiamail .signin .signintxt{float:left;color:#fff;font-weight:normal;letter-spacing:normal;font-size:18px;}.indiamail .signin .signintxt span{padding:0px 2px;margin-right:4px;color:#fff;}
.indiamail a{color:#fff;font-size:18px;}
#contentwrap{width:960px;margin:0px auto;padding:0px 0px 0px 0px;}
.sectionleft{width:650px;float:left;}
.sectionright{width:300px;float:right;}
.featuredstories{float:left;}
.othertopstories{float:right;}
#socialshare-fixed{top:210px;right:0px;display:block;background:#fff;position:fixed;width:50px;text-align:left;z-index:10;border:1px solid #ccc;border-right:0px;-webkit-border-radius:15px 0px 0px 15px;-moz-border-radius:15px 0px 0px 15px;border-radius:15px 0px 0px 15px;}#socialshare-fixed p{font-size:16px;font-weight:bold;text-align:center;padding:5px 0px;}
#socialshare-fixed a{display:block;margin:10px;width:31px;height:32px;}#socialshare-fixed a.gplus{background-position:-223px -3px;}
#socialshare-fixed a.fb{background-position:-255px -3px;}
#socialshare-fixed a.tw{background-position:-287px -3px;}
#socialshare-fixed a.pint{background-position:-319px -3px;}
#socialshare-fixed a.skpe{background-position:-351px -3px;}
#socialshare-fixed a:hover.gplus{background-position:-223px -35px;}
#socialshare-fixed a:hover.fb{background-position:-255px -35px;}
#socialshare-fixed a:hover.tw{background-position:-287px -35px;}
#socialshare-fixed a:hover.pint{background-position:-319px -35px;}
#socialshare-fixed a:hover.skpe{background-position:-351px -35px;}
.featuredstories{position:relative;overflow:hidden;text-align:left;width:370px;height:380px;padding:0px;}.featuredstories .sliderkit-panels{height:279px;}.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-overlay{width:370px;height:72px;background:#ffffff;display:none;}
.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-text{height:50px;padding:5px;font-size:12px;color:#666666;}.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-text p{margin:0px;}
.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-text h2{height:auto;margin:0 0 2px;font-size:18px;color:#0883bf;}.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-text h2 a{color:#0883bf;text-decoration:none;line-height:19px;}
.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-text h2 a:hover{text-decoration:underline;}
.featuredstories .sliderkit-panels .sliderkit-panel .sliderkit-panel-textbox{width:370px;height:72px;background:#ffffff;clear:both;}
.featuredstories .sliderkit-panel-active{z-index:5;display:block!important;}
.featuredstories .sliderkit-nav-clip{position:relative;overflow:hidden;margin:0 auto;height:80px;}.featuredstories .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}.featuredstories .sliderkit-nav-clip ul li.sliderkit-selected a{background-position:-122px -76px;}.featuredstories .sliderkit-nav-clip ul li.sliderkit-selected a p{color:#ffffff;}
.featuredstories .sliderkit-nav-clip ul li{float:left;margin:0 1px 0px 0px;}.featuredstories .sliderkit-nav-clip ul li a{display:block;overflow:hidden;width:91px;height:69px;margin:0px;padding:11px 0px 0px 0px;background-position:-122px 6px;}.featuredstories .sliderkit-nav-clip ul li a img{margin:0px auto;}
.featuredstories .sliderkit-nav-clip ul li a p{line-height:12px;color:#666666;text-align:center;margin:1px 0px 0px 0px;padding:0px 6px;font-size:11px;font-weight:300;}
.featuredstories .sliderkit-nav-clip ul li a:hover{background-position:-122px -76px;text-decoration:none;}.featuredstories .sliderkit-nav-clip ul li a:hover p{color:#ffffff;}
.featuredstories .sliderkit-panel-old{z-index:4;display:none!important;}
.featuredstories .sliderkit-nav{text-align:center;width:369px;padding:0px;background:#ffffff;}.featuredstories .sliderkit-nav .ctrlwrap{background:#f3fafc;padding:3px 4px;font-size:10px;}.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-play-btn a{background-position:-94px -109px;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-pause-btn a{background-position:-72px -109px;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-nav-prev a{background-position:-72px -94px;}
.featuredstories .sliderkit-nav .ctrlwrap .ctrlbtn{float:right;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-btn{display:inline-block;float:left;width:22px;height:13px;}.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-btn a{display:block;width:22px;height:13px;outline:none;border:1px solid #8ec5e0;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-btn span{display:none;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-nav-next a{background-position:-96px -94px;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-btn-disable{opacity:0.3;}.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-btn-disable a:hover{cursor:default;}
.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-count{padding:1px;color:#666666;background:#ffffff;float:left;margin-left:2px;}.featuredstories .sliderkit-nav .ctrlwrap .sliderkit-count span.sliderkit-count-sep{padding:0px 4px 0px 2px;}
.featuredstories .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.othrstrs{width:272px;font-size:13px;font-weight:300;}.othrstrs ul{width:100%;}.othrstrs ul li{display:inline-block;float:left;margin-right:2px;width:62px;}.othrstrs ul li a:hover{text-decoration:none;}
.othrstrs ul li span.lnktxt{display:block;padding:0px 5px 2px 5px;text-align:center;color:#fff;}
.othrstrs ul li span.arrw{display:block;width:10px;height:5px;margin:0px auto;background-position:0px -22px;}
.othrstrs ul li.news .lnktxt{background:#c03;}
.othrstrs ul li.news a:hover .arrw{background-position:-73px -51px;}
.othrstrs ul li.news.active .arrw{background-position:-73px -51px;}
.othrstrs ul li.bolly .lnktxt{background:#ec33d9;}
.othrstrs ul li.bolly a:hover .arrw{background-position:-83px -51px;}
.othrstrs ul li.bolly.active .arrw{background-position:-83px -51px;}
.othrstrs ul li.cc .lnktxt{background:#0b9ee6;}
.othrstrs ul li.cc a:hover .arrw{background-position:-93px -51px;}
.othrstrs ul li.cc.active .arrw{background-position:-93px -51px;}
.othrstrs ul li.othersts{width:80px;margin:0px;}.othrstrs ul li.othersts .lnktxt{background:#6408cb;}
.othrstrs ul li.othersts a:hover .arrw{background-position:-103px -51px;}
.othrstrs ul li.othersts.active .arrw{background-position:-103px -51px;}
.othrstrs .otherstr-wrap{width:100%;position:relative;top:6px;clear:both;}.othrstrs .otherstr-wrap .othrstr-cont{display:none;position:absolute;left:0px;top:0px;width:100%;height:352px;overflow:hidden;background:#ffffff;}.othrstrs .otherstr-wrap .othrstr-cont.active{display:block;}
.othrstrs .otherstr-wrap figure{font-size:12px;}.othrstrs .otherstr-wrap figure img{float:left;margin-right:6px;}
.othrstrs .otherstr-wrap figure figcaption{float:left;width:170px;color:#666666;}.othrstrs .otherstr-wrap figure figcaption a{color:#333333;}
.othrstrs .otherstr-wrap figure .clear{background:url(../images/seperatorline.gif) repeat-x;height:23px;width:100%;}
#sectionsortbx{margin-top:15px;}
.innersection{margin-bottom:25px;}
ul.innerlist li{width:200px;float:left;padding-right:25px;}
#secblk h2{border-bottom:5px solid #0882bf;font-size:24px;color:#ffffff;}#secblk h2 span{width:125px;padding:0px 5px;display:block;line-height:25px;font-weight:300;text-transform:uppercase;background:#0882bf;font-size:24px;}
#secblk figure{padding:0px;background:none;overflow:hidden;}#secblk figure img{margin-top:1px;}
#secblk figure figcaption{font-size:14px;color:#333333 !important;padding:3px 0px 3px 5px!important;}#secblk figure figcaption a{color:#333333 !important;}
#secblk ul{height:111px;overflow:hidden;}#secblk ul li{list-style-type:disc;margin-left:20px;font-size:12px;color:#666;padding-bottom:3px;*padding-bottom:1px;width:178px;}#secblk ul li a{color:#666;}
#secblk a.readmore{background:#999;color:#fff;display:block;float:right;padding:3px 5px;cursor:pointer;}
#secblk.entertainment h2{border-bottom:5px solid #d70ad5 !important;}#secblk.entertainment h2 span{width:145px!important;background:#d70ad5 !important;}
#secblk.autos h2{border-bottom:5px solid #ff3300 !important;}#secblk.autos h2 span{background:#ff3300 !important;}
#secblk.sports h2{border-bottom:5px solid #0099ff !important;}#secblk.sports h2 span{background:#0099ff !important;}
#secblk.business h2{border-bottom:5px solid #957f08 !important;}#secblk.business h2 span{background:#957f08 !important;}
#secblk.mobile h2{border-bottom:5px solid #082995 !important;}#secblk.mobile h2 span{background:#082995 !important;}
#secblk.health h2{border-bottom:5px solid #005aab !important;}#secblk.health h2 span{background:#005aab !important;}
.adblock{border-bottom:1px solid #b6b6b6;border-top:1px solid #b6b6b6;padding:15px 0px;margin-bottom:15px;}
.adbanner468{width:468px!important;height:60px;padding-right:10px!important;}
.adbanner160{width:160px!important;height:60px;}
#secblk2 .careerleft{float:left;width:350px;}#secblk2 .careerleft h2{border-bottom:5px solid #0882bf;font-size:24px;color:#ffffff;}#secblk2 .careerleft h2 span{width:125px;padding:0px 5px;display:block;line-height:25px;font-weight:300;text-transform:uppercase;background:#0882bf;font-size:24px;}
#secblk2 .careerleft figure{padding:0px;background:none;overflow:hidden;}#secblk2 .careerleft figure img{margin-top:1px;}
#secblk2 .careerleft figure figcaption{padding:3px 0px;background:#E5E5E5;}#secblk2 .careerleft figure figcaption a{font-size:14px;color:#333;padding:5px;}
#secblk2 .careerght{float:right;width:280px;font-size:12px;margin-top:31px;}#secblk2 .careerght figure{border-bottom:1px solid #b6b6b6;margin-bottom:10px;padding-bottom:12px;}#secblk2 .careerght figure .crrht-img{float:left;margin-right:5px;}
#secblk2 .careerght figure figcaption{float:left;width:180px;}#secblk2 .careerght figure figcaption a{color:#333333;}
#secblk2 .careerght a.readmore{background:#999;color:#fff;display:block;float:right;padding:3px 5px;cursor:pointer;margin-top:4px;}
#picts{padding-bottom:15px;}#picts h2{line-height:34px;}
#picts .lftld{float:left;width:150px;}#picts .lftld a{position:relative;width:148px;height:170px;display:block;}#picts .lftld a img{position:relative;}
#picts .lftld a .galttl{color:#FFFFFF;font-size:21px;left:2px;position:absolute;bottom:0px;}
#picts .rthld{float:left;width:150px;}#picts .rthld a{display:block;margin-bottom:2px;height:84px;overflow:hidden;}
.adbanner300{margin:0px 0px 15px 0px;clear:both;}
.food{margin-bottom:15px;font-size:12px;}.food h2{line-height:28px;margin-bottom:3px;}
.food a{color:#333333;display:block;font-size:14px;}
.food .fdld1{margin-top:10px;}.food .fdld1 a.ld1{float:left;width:94px;height:50px;overflow:hidden;margin-right:10px;}
.food .fdld1 figcaption{float:left;width:190px;}
.trvlft{clear:both;margin-bottom:15px;}.trvlft h2{line-height:32px;padding-bottom:5px;}
.trvlft .trvlcarousel{width:300px !important;}.trvlft .trvlcarousel .mid{position:relative;width:300px;height:250px;font-size:12px;}.trvlft .trvlcarousel .mid figure a{display:block;color:#333;font-size:14px;}
.trvlft .trvlcarousel .jthumb-bar{height:39px;width:300px;position:relative;}.trvlft .trvlcarousel .jthumb-bar a{position:absolute;cursor:pointer;width:10px;height:37px;display:block;}.trvlft .trvlcarousel .jthumb-bar a.disabled{display:none;}
.trvlft .trvlcarousel .jthumb-bar a.prev{left:0px;background-position:-74px -60px;*z-index:2;}
.trvlft .trvlcarousel .jthumb-bar a.next{right:0px;background-position:-90px -60px;*z-index:2;}
.trvlft .trvlcarousel .jthumb-bar .thumbwrap{width:265px;height:39px;overflow:hidden;margin-left:17px;float:left;}
.trvlft .trvlcarousel .jthumb-bar li{margin-right:0px;width:65px!important;height:39px!important;}.trvlft .trvlcarousel .jthumb-bar li img{cursor:pointer;margin-left:6px;display:block;}
.trvlft .trvlcarousel .jthumb-bar li.active img{width:65px;height:37px;}
.trvlft .trvlcarousel figure{display:none;position:absolute;left:0px;top:0px;}.trvlft .trvlcarousel figure.active{display:block!important;}
footer{width:100%;}footer.fotscrpos{position:absolute;z-index:1000;}
footer .fotlnkwrapper{background:#e5e5e5;}
footer .sitindx-ttl-wrap{font-size:22px;}footer .sitindx-ttl-wrap .sitindx-ttl{width:960px;color:#333333;margin:0px auto;}footer .sitindx-ttl-wrap .sitindx-ttl .expind{font-size:22px;float:left;}
footer .lnkhdwrap{background-position:0px -170px;height:30px;background-repeat:repeat-x;}footer .lnkhdwrap a{color:#333;font-size:12px;display:block;}
footer .lnkhdwrap .lnkhd{width:960px;color:#ffffff;margin:0px auto;}footer .lnkhdwrap .lnkhd a{color:#ffffff;font-size:18px;font-weight:300;padding:2px 6px;display:inline-block;float:left;border-right:1px solid #ccc;}
footer .fotlink-holder{clear:both;width:960px;color:#333333;margin:0px auto;height:330px;}footer .fotlink-holder aside{float:left;border-right:1px solid #ccc;padding:0px 6px;height:100%;}footer .fotlink-holder aside a{display:block;color:#333333;}
footer .news{width:70px;}
footer .bolly{width:90px;}
footer .travel{width:80px;}
footer .gadgets{width:85px;}
footer .oncars{width:100px;}
footer .indcolgs{width:110px;}
footer .bgr{width:85px;}
footer .health{width:90px;}
footer .cc{width:120px;border:0px!important;}
footer .copyrights{background:#ffffff;}footer .copyrights p{width:960px;text-align:center;margin:0px auto;font-size:11px;padding:10px 0px 10px 0px;color:#333;}
footer .copyrights span{display:block;margin-top:5px;}
footer .copyrights span a{font-size:11px;color:#333;margin:0px 5px;}
.sitindx-ttl-wrap{font-size:22px;}.sitindx-ttl-wrap .sitindx-ttl{color:#333333;margin:0px auto;}.sitindx-ttl-wrap .sitindx-ttl .expind{font-size:22px;float:left;}
.sitindx-ttl-wrap .sitindx-ttl .btn-sitindx{float:right;padding:0px 0px 0px 0px;color:#000;position:relative;right:-90px;background:#fff;width:80px;margin-bottom:3px;cursor:pointer;}.sitindx-ttl-wrap .sitindx-ttl .btn-sitindx .sitxt{padding-top:3px;float:left;}
.sitindx-ttl-wrap .sitindx-ttl .btn-sitindx span.sitarr{height:20px;width:20px;margin-left:7px;display:block;float:right;background-position:-74px -126px;}
.sitindx-ttl-wrap .sitindx-ttl .btn-sitindx span.starrdwn{background-position:-96px -126px;}
.brknews{width:960px;font-size:14px;background:url(../images/brkbg.jpg) repeat-x;height:38px;overflow:hidden;}.brknews .brkttl{padding:6px 10px;float:left;background:#cc3300;background:-moz-linear-gradient(top, #cc3300 58%, #673524 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(58%, #cc3300), color-stop(100%, #673524));background:-webkit-linear-gradient(top, #cc3300 58%, #673524 100%);background:-o-linear-gradient(top, #cc3300 58%, #673524 100%);background:-ms-linear-gradient(top, #cc3300 58%, #673524 100%);background:linear-gradient(to bottom, #cc3300 58%, #673524 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc3300, endColorstr=#673524, GradientType=0);}
.brknews .brkttl h1{font-size:18px;color:#ffffff;}
.brknews .brknwtxt{float:left;font-size:14px;width:700px;}.brknews .brknwtxt ul li{font-size:14px;}
.brknews .brknwtxt ul li p{display:table-cell;vertical-align:middle;line-height:normal;height:38px;padding-left:15px;*margin-top:8px;font-size:14px;}
.brknews .brknwtxt ul li a{color:#666666;cursor:pointer;}
.iconplay{position:absolute;width:22px;height:15px;background:url(../images/vidplay.png) no-repeat;top:30px;right:10px;}
.vidlnk{position:relative;float:left;}
.iconplay-big{position:absolute;width:60px;height:41px;background:url(../images/vidplay-big.png) no-repeat;bottom:10px;right:10px;}
