@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url("lessvars.less");


.testing{width:200px; border:1px solid #ccc; margin:10px auto;}

.complete(@margin: @zeropx, @padding: @zeropx, @font_style : @font) {
    margin: @margin;
    padding: @padding;
    font: @font_style;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{
	.complete(@zeropx,@zeropx,@font);
}
	
body{margin:@halign-center; background:@bgwhite;color:@font-color;}
h1,h2,h3{color:@h-color; font-size:@h-size;}
a{text-decoration:@none;}
a:hover{text-decoration:@underline ;}
fieldset,img{border:@none; outline:@none; }
.clear{clear:@clearboth;}
li{list-style:@none;}
ul{list-style-type:@none;}
img{border:@zeropx; display:@block;}
.cursorH{cursor: pointer;}
input{outline:@none;}
header,nav,section,article,aside,figure,figcaption,footer{display:@block; margin:@zeropx; padding:@zeropx;}
.sprit-icon{ background-image:@sprit-image; background-repeat:no-repeat; background-position:@zeropx @zeropx;}
.nomargin{margin:@zeropx!important;}
/***************************************/
.headwrapper { background:@bluebg;}
.header{
	width:@pagewidth; padding:10px 0px 10px 0px; margin:@halign-center;
    .logo{margin:15px 0px 0px 5px; float:left; width:225px;}
   .logo a {display:@block; width:255px; height:50px; cursor:pointer; background: url(../images/india-com-logo.png) no-repeat;}
   .topad728{float:left; width:728px; height:90px;}
}

.navwrap{ background:#333;
	.navblk{width:@pagewidth; margin:0px auto;	
		.navitems { float:left; position:relative; z-index:5; left:10px;
			li {text-transform:uppercase; font-size:17px; color:#fff; display:inline-block; float:left; margin:0px 11px 2px 0px;
				a {color:#fff; padding:7px 3px 5px 3px; display:block;}
				a span {height:6px; width:6px; overflow:hidden; background-position:-82px -41px; display:inline-block; position:relative; margin:0px 3px; top:-3px; *top:-7px; *left:3px;}
				a:hover { background-color:@bluebg; text-decoration:@none;}
				a:hover span {background-position:-74px -41px;}
				a.active { background-color:@bluebg; text-decoration:none;}
				a.active span {height:6px; width:6px; overflow:hidden; background-position:-74px -41px; display:inline-block; position:relative; margin:0px 3px; *top:-7px; *left:3px; }
				ul {display:none; position:absolute; width:150px; background:@bluebg;}
			}
			li:hover ul {display:block;
				li{float:@none!important; margin:0px!important; display:block!important; font-size:14px!important; text-transform:@none!important; font-weight:300;
					a{ padding:3px 5px!important; position:relative;}
					a:hover{text-decoration:underline!important;}
					a span{ background-position:-90px -42px!important; position:relative; *margin-right:5px!important; }
				}
			}
		}		
	}
}
.shadow{-moz-box-shadow: @nav-shadow; -webkit-box-shadow: @nav-shadow; box-shadow: @nav-shadow; }
.indiamail{float:right;
	a{color:#fff;}
	p.ml{font-size:12px; color:#fff; line-height:14px; letter-spacing:0.1em;}
	.signin{font-size:18px; text-transform:uppercase;}
	.signin .mailicon{width:26px; height:16px; display:@block; float:left; margin-top:4px}
	.signin .signintxt{ float:left; color:#fff; font-weight:normal; letter-spacing:normal;
		.signintxt span{padding:0 0px 0px 2px; margin-right:4px; color:#09c;}
		.signintxt span a{ color:#09c;}
	}
}




