/* resetters */
@pagewidth : 960px;
@fntsize12 : 12px;
@linkcolor : #333;
@linksize : 14px;
@txtcolor : #666;
@bgwhite : #fff;
@txtwhite : #fff;
@bluebg : #0882bf;
@sprit-image : url(../images/sprit.jpg);
@none : none;
@underline : underline;
@font-color : #3f3f3f; /* ? chk if in use */
@h-color : #666;
@h-size : 28px;
@font : 400 12px 'Oswald', sans-serif;
@halign-center : 0px auto;
@zeropx : 0px;
@block : block;
@floatleft : left;
@floatright : right;
@clearboth : both;
@absolute : absolute;
@relative : relative;
@nav-shadow : 3px 3px 3px #6e6f6a;


/* content vars */
@section-left : 650px;
@section-right : 300px;
@blkwdth : 200px;
@blkh2-size : 24px;
@blkh2-color : #fff;
@blkh2-bdr-width : 5px;
@blkh2-bdr-type : solid;
@blk-imgbotbdr : #1b8ab1;
@blk-linkcolor : #1b8ab1;
@blk-colr-ent : #d70ad5;
@blk-colr-auto : #f30;
@blk-colr-sports : #09f;
@blk-colr-business : #957f08;
@blk-colr-mobile : #082995;
@blk-colr-health : #005aab;
@trvl-corsl-wdth : 300px;

@featuredwidth : 370px;
@featuredheight : 380px;
@featured-lnk-txt-size : 18px;
@featured-lnk-txt-color : #0883bf;

@otherstrs-width : 272px;
@otherstrs-height  : (@featuredheight - 28px);

/* footer vars */
@footerbg : #e5e5e5;
@botnav-wth : 70px;


