#contentwrap {width:@pagewidth; margin:@halign-center; padding:0px 0px 0px 0px;}
.sectionleft{width:@section-left; float:@floatleft;}
.sectionright{width:@section-right; float:@floatright;}
.featuredstories{float:@floatleft}
.othertopstories{float:@floatright}



/* top carousel */
.featuredstories {
    position:relative; overflow:hidden;  text-align:left; width:@featuredwidth; height:@featuredheight; padding:0px;
    .sliderkit-panels {height:279px;
        .sliderkit-panel {
            .sliderkit-panel-overlay {display:none; width:@featuredwidth; height:65px; background:@bgwhite; display:none;}
            .sliderkit-panel-text {height:50px; padding:5px; font-size:12px; color:@txtcolor;
                p {margin:0px;}
                h2 {height:auto; margin:0 0 2px;font-size:@featured-lnk-txt-size;color:@featured-lnk-txt-color;
                    a {color:@featured-lnk-txt-color; text-decoration:none;}
                    a:hover {text-decoration:underline;}
                }
            }
            .sliderkit-panel-textbox {width:@featuredwidth; height:65px; background:@bgwhite;}
        }
    }
    .sliderkit-panel-active {z-index:5; display:block!important;}
    .sliderkit-nav-clip {position:relative; overflow:hidden; margin:0 auto;
        ul { position:relative; left:0; top:0; list-style:none; margin:0; padding:0;
            li.sliderkit-selected {
                a {background-position:-122px -76px;
                    p {color:@txtwhite;}
                }
            }
            li {float:left; margin:0 1px 0px 0px;
                a {display:block; overflow:hidden; width:91px; height:69px; margin:0px; padding:11px 0px 0px 0px; background-position:-122px 6px;
                    img {margin:0px auto;}
                    p {line-height:12px; color:@txtcolor; text-align:center; margin:1px 0px 0px 0px;padding:0px 6px; font-size:(@fntsize12 - 1); font-weight:300;}
                }
                a:hover {background-position:-122px -76px; text-decoration:none;
                    p { color:@txtwhite; }
                }
            }
        }
    }
    .sliderkit-panel-old {
        z-index:4;
        display:none!important;
    }
    .sliderkit-nav {text-align:center;width:(@featuredwidth - 1);padding:0px;background:@bgwhite;
        .ctrlwrap {background:#f3fafc; padding:3px 4px; font-size:10px;
            .sliderkit-pause-btn a { background-position:-72px -109px;}
            .sliderkit-play-btn a { background-position:-94px -109px;}
            .sliderkit-nav-prev a {background-position:-72px -94px;}
            .ctrlbtn {float:@floatright;}
            .sliderkit-btn {display:inline-block; float:@floatleft; width:22px; height:13px;
                a {display:block; width:22px; height:13px; outline:none; border:1px solid #8ec5e0;}
                span {display:none;}
            }
            .sliderkit-nav-next a {background-position:-96px -94px;}
            .sliderkit-btn-disable {opacity:0.3;
                a:hover {cursor:default;}
            }
            .sliderkit-count { padding:1px; color:@txtcolor; background:@bgwhite; float:@floatleft;margin-left:2px;
                span.sliderkit-count-sep {padding:0px 4px 0px 2px;}
            }
        }
    }
    .sliderkit-panel {z-index:1; position:absolute; overflow:hidden;}
}

/* other top stories */
.othrstrs {width:@otherstrs-width ; font-size:13px; font-weight:300;
	ul{width:100%;
		li{display:inline-block; float:left; margin-right:2px; width:62px;
			a:hover {text-decoration:none;}
			span.lnktxt{display:block; padding:0px 5px 2px 5px; text-align:center; color:@txtwhite;}
			span.arrw{display:block; width:10px; height:5px; margin:0px auto; background-position:0px -22px; }
			&.news{
				.lnktxt {background:#c03;}
				a:hover .arrw {background-position:-73px -51px;}
			}
			&.news.active{
				.arrw {background-position:-73px -51px;}
			}
			&.bolly{
				.lnktxt {background:#ec33d9;}
				a:hover .arrw {background-position:-83px -51px; }
			}
			&.bolly.active{
				.arrw {background-position:-83px -51px;}
			}
			&.cc{
				.lnktxt {background:#0b9ee6;}
				a:hover .arrw {background-position:-93px -51px; }
			}
			&.cc.active{
				.arrw {background-position:-93px -51px;}
			}
			&.othersts{ width:80px; margin:0px;
				.lnktxt {background:#6408cb;}
				a:hover .arrw {background-position:-103px -51px; }
			}
			&.othersts.active{
				.arrw {background-position:-103px -51px;}
			}
		}
	}
	.otherstr-wrap{width:100%; position:relative; float:@floatleft;
		.othrstr-cont{display:none; position:absolute; left:0px; top:10px; width:100%; height:352px; overflow:hidden; background:@bgwhite;
			&.active{display:block;}
		}
		figure{font-size:12px; margin-bottom:9px; padding-bottom:9px; border-bottom:1px solid #eee;  
			img{float:left; margin-right:6px;}
			figcaption {float:left; width:170px; color:@txtcolor;
				a {color:@linkcolor;}
			}
		}
	}
} 


/* section styles */
#sectionsortbx{margin-top:15px;}
.innersection{border-bottom:1px solid #b6b6b6; margin-bottom:15px; padding-bottom:15px;}
ul.innerlist li{width:@blkwdth; float:@floatleft; padding-right:25px;}
#secblk {
    h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @bluebg; font-size:@blkh2-size; color:@blkh2-color;
		span{width:125px; padding:0px 5px; display:@block; line-height:25px; font-weight:300; text-transform:uppercase; background:@bluebg;}
	}
    figure{padding:0px; background:none; overflow:hidden;
		img{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-imgbotbdr; margin-top:1px;}
		figcaption {font-size:14px; color:@linkcolor!important; padding:3px 0px 3px 5px!important;
			a {color:@linkcolor!important;}
		}
	}
    ul{ height:111px; overflow:hidden;
		li{list-style-type:disc; margin-left:20px; font-size:12px; color:#666; padding-bottom:3px; width:178px;
			a{color:#666;}
		}
	}
    a.readmore{ background:#999; color:#fff; display:@block; float:right; padding:3px 5px; cursor:pointer;}
	&.ent h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-ent!important;
		span{width:145px!important; background:@blk-colr-ent!important;}
	}
	&.autos h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-auto!important;
		span{background:@blk-colr-auto!important;}
	}
	&.sports h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-sports!important;
		span{background:@blk-colr-sports!important;}
	}
	&.business h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-business!important;
		span{background:@blk-colr-business!important;}
	}
	&.mobile h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-mobile!important;
		span{background:@blk-colr-mobile!important;}
	}
	&.health h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @blk-colr-health!important;
		span{background:@blk-colr-health!important;}
	}

}
.adbanner468{width:468px!important; height:60px; padding-right:10px;}
.adbanner160{width:160px!important; height:60px;}

#secblk2{
	.careerleft{
		float:@floatleft; width:350px;
		h2{border-bottom:@blkh2-bdr-width @blkh2-bdr-type @bluebg; font-size:@blkh2-size; color:@blkh2-color;
			span{width:125px; padding:0px 5px; display:block; line-height:25px; font-weight:300; text-transform:uppercase; background:@bluebg;}
		}
		figure{padding:0px; background:none; overflow:hidden;
			img{margin-top:1px;}
		}
	}
	.careerght{
		float:@floatright; width:280px; font-size:@fntsize12; margin-top:31px;
		figure{border-bottom:1px solid #b6b6b6; margin-bottom:10px; padding-bottom:11px;
			.crrht-img{float:@floatleft; margin-right:5px;}
			figcaption{
				float:@floatleft; width:180px;
				a{color:@linkcolor;}
			}
		}
	}
}