.complete(@margin: @zeropx, @padding: @zeropx, @font_style : @fon) {
    margin: @margin;
    padding: @padding;
    font: @font_style;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{
	.complete(@zeropx,@zeropx,@font,);
}
	
body{margin:@halign-center; background:@bgwhite; color:@txtcolor;}
h1,h2,h3{color:@h-color; font-size:@h-size;}
a{text-decoration:@none;}
a:hover{text-decoration:@underline ;}
fieldset,img{border:@none; outline:@none; }
.clear{clear:@clearboth;}
li{list-style:@none;}
ul{list-style-type:@none;}
img{border:@zeropx; display:@block;}
.cursorH{cursor: pointer;}
input{outline:@none;}
header,nav,section,article,aside,figure,figcaption,footer{display:@block; margin:@zeropx; padding:@zeropx;}
.sprit-icon{ background-image:@sprit-image; background-repeat:no-repeat; background-position:@zeropx @zeropx;}
.nomargin{margin:@zeropx!important;}
.clearspace{margin:@zeropx!important; padding:@zeropx!important;}
.noborder{border:@zeropx!important;}
