.socialshare { text-align:right; width:100%; font-weight:300; font-size:14px; margin:5px 0px 3px 0px; clear:both;
	span{position:relative; top:-5px; left:-5px;}
	a{ display:inline-block; width:21px; height:22px; margin-right:0px;
		&.gplus{background-position:-1px -117px;}
		&.fb{background-position:-23px -117px;}
		&.tw{background-position:-45px -117px;}
	}
}

#picts {padding-bottom:15px; 
	h2{line-height:34px;}
	.lftld {float:@floatleft; width:150px; }
	.rthld {float:@floatleft; width:150px;
		a {display:@block; margin-bottom:2px; width:148px; height:84px; overflow: hidden; }
	}
}
.adbanner300{margin:0px 0px 15px 0px; clear:both;}

.food {margin-bottom:15px; font-size:@fntsize12;
	h2{line-height:28px; margin-bottom:3px;}
	a{color:@linkcolor; display:@block; font-size:@linksize;}
	.fdld1 {margin-top:10px;
		a.ld1{float:@floatleft; width:94px; height:50px; overflow:hidden; margin-right:10px;}
		figcaption {float:@floatleft; width:190px;}
	}
}

.trvlft{ clear:both; margin-bottom:15px;
	h2 {line-height: 32px; padding-bottom: 5px;}
	.trvlcarousel {width:@trvl-corsl-wdth!important;
	    .mid {position:@relative;width:@trvl-corsl-wdth; height:250px; font-size:12px;
			figure a {display:block; color:#333; font-size:14px;}
		}
	    .jthumb-bar {height:39px; width:@trvl-corsl-wdth; position:@relative;
			a{position:absolute; cursor:pointer; width:10px; height:37px; display:block;
				&.disabled{display:none;}
				&.prev{left:0px; background-position:-74px -60px; *z-index:2;}
				&.next{right:0px; background-position:-90px -60px; *z-index:2;}
			}
			.thumbwrap{width:265px; height:39px; overflow:hidden; margin-left:17px; float:left;}
			li {margin-right:0px; width:65px!important; height:39px!important; 
				img{cursor:pointer;margin-left:6px; display:block;}
				&.active img{width:65px; height:37px;}
			}
		}
	    figure {display:none; position:absolute; left:0px; top:0px; 
			&.active{display:block!important;}
		}
	}
}