<?php
    $dataArr = $this->dataArr;
    $morelink = $this->morelink;
    $site = $this->site;
    
    //echo "<pre>";
    //print_r($dataArr);
    //echo "<pre/>";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BGR Widget - India.com</title>
<style type="text/css">
<?php 
    //if($site == 'dna')
    //{ 
?>    
        @font-face {
            font-family: 'MuseoSlab500Regular';
            src: url('/indstatic/fonts/museo-slab-500.eot');
            src: url('/indstatic/fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
                 url('/indstatic/fonts/museo-slab-500.woff') format('woff'),
                 url('/indstatic/fonts/museo-slab-500.ttf') format('truetype'),
                 url('/indstatic/fonts/museo-slab-500.svg#MuseoSlab500Regular') format('svg');
            font-weight: normal;
            font-style: normal;
        }
<?php 
        $font_family = "'MuseoSlab500Regular',sans-serif";
    //} 
?>
body, div, a, p, ul, ol, li, h1, h2, span, img {margin:0px; padding:0px; border:0px; font-size:13px; font-family: <?php echo $font_family; ?>; font-weight: normal; }
.clear{clear:both;}
#bgr-review {width:300px; height:250px; overflow:hidden; }
#bgr-review .title {font:normal 1rem arial; color:#ce0000; float:left; text-decoration:none; text-transform:uppercase;}
.bgr-pwrdby{float:right; text-align:left; font:11px arial; margin-top:10px;}
#bgr-review ul {list-style-type:none; }
#bgr-review ul li {border-bottom:1px solid #E5E5E5; clear:both; float:left; padding:5px 0; width:300px; }
.bgr-imgwrap{float:left; margin-right:10px;}
.bgr-imgwrap img {margin:0px 0px 0px 0px; height:61px; width:auto; }
a.bgr-descwrap {float:left; width:225px; font-size:0.9rem; line-height:130%; color:#000000; text-decoration:none; }
</style>
<!-- google analytics code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19458284-34']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- google analytics code end -->
</head>
<body>
<div class="module" id="bgr-review"> 
  <a href="<?php echo $morelink; ?>" target="_blank" class="title" onClick="_gaq.push(['_trackEvent', 'TechBytes - Widget', 'Clicked','Widget - Title']);">TechBytes</a>
  <span class="bgr-pwrdby">Powered by : <a href="<?php echo $morelink; ?>" target="_blank" onClick="_gaq.push(['_trackEvent', 'TechBytes - Widget', 'Clicked','Widget - Title']);"><img src="<?php echo $_SERVER['CDN_DOMAIN']; ?>/indstatic/images/bgr-widget-logo.gif" /></a></span>
  <div class="clear"></div>
  <ul>
    <?php for ($i = 0; $i < 3; $i++) { $j = $i+1;?>  
    <li> 
      <a class="bgr-imgwrap" onClick="_gaq.push(['_trackEvent', 'TechBytes - Widget', 'Clicked','Article <?php echo $j; ?> - Image Link']);" title="<?php echo $dataArr[$i]->title; ?>" href="<?php echo $dataArr[$i]->link; ?>" target="_blank"><img width="75" height="75" class="wppt_preset3 thumb6 " alt="<?php echo $dataArr[$i]->title; ?>" src="<?php echo $dataArr[$i]->thumb; ?>" original="<?php echo $dataArr[$i]->thumb; ?>" style="display: block;"></a>
      <a class="bgr-descwrap" onClick="_gaq.push(['_trackEvent', 'TechBytes - Widget', 'Clicked','Article <?php echo $j; ?> - Title Link']);" title="<?php echo $dataArr[$i]->title; ?>" href="<?php echo $dataArr[$i]->link; ?>" target="_blank"><?php echo $dataArr[$i]->title; ?></a>
    </li>    
    <?php } ?>  
  </ul>
</div>
</body>
</html>