<?php
    $result = $this->result;
    $name = $this->name;
    $morelink = $this->morelink;
    $site = $this->site;
    
    //echo "<pre>";
    //print_r($dataArr);
    //echo "<pre/>";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Health Widget - India.com</title>
<style type="text/css">
<?php 
    //if($site == 'dna')
    //{ 
?>    
        @font-face {
            font-family: 'MuseoSlab500Regular';
            src: url('/indstatic/fonts/museo-slab-500.eot');
            src: url('/indstatic/fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
                 url('/indstatic/fonts/museo-slab-500.woff') format('woff'),
                 url('/indstatic/fonts/museo-slab-500.ttf') format('truetype'),
                 url('/indstatic/fonts/museo-slab-500.svg#MuseoSlab500Regular') format('svg');
            font-weight: normal;
            font-style: normal;
        }
<?php 
        $font_family = "'MuseoSlab500Regular',sans-serif";
    //} 
?>
body, div, a, p, ul, ol, li, h1, h2, span, img {margin:0px; padding:0px; border:0px; font-size:13px; font-family: <?php echo $font_family; ?>; font-weight: normal; }
.clear{clear:both;}
#techbytes-review .title{color:#ce0000;float:left;font:1rem arial;text-decoration:none;text-transform:uppercase}
.bgr-pwrdby{float: right;font:normal 11px arial;margin-top:10px;text-align:left}
.techbytes ul{margin:0}
.techbytes li{list-style:none;border-bottom:1px solid #e5e5e5;clear:both;float:left;padding:5px 0;width:100%}
.techbyte-imgwrap{float:left;margin-right:10px}
.techbyte-imgwrap img{width:auto;height:61px;margin:0}
a.techbyte-descwrap{color:#000;font-size:0.9rem;line-height:130%;text-decoration:none;width:auto}
</style>
<!-- google analytics code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19458284-34']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- google analytics code end -->
</head>
<body>
<div id="techbytes-review" class="techbytes"> 
  <a onclick="_gaq.push(['_trackEvent', 'HealthDose - Widget', 'Clicked','Widget - Title']);" class="title" target="_blank" href="<?php echo $morelink; ?>">Health Dose</a>
  <span class="bgr-pwrdby">Powered by : <a onclick="_gaq.push(['_trackEvent', 'HealthDose - Widget', 'Clicked','Widget - Title']);" target="_blank" href="<?php echo $morelink; ?>"><img src="<?php echo $_SERVER['CDN_DOMAIN']; ?>/indstatic/images/health-widget-logo.gif"></a></span>
  <div class="clear"></div>
  <ul>
  <?php 
    $i = 1;
    foreach($result as $r){
        if($i > 4) break;
        //echo $r->imgname;
        $thumimg = str_replace('200X113', '90X50', $r->imgname);
        $upload_path = $_SERVER['UPLOAD_IMAGE_PATH'];
        if(!file_exists($upload_path.$thumimg)) $thumimg = $r->imgname; 
        //print_r($r);
  ?>
    <li> 
      <a target="_blank" href="<?php echo $r->link; ?>" title="<?php echo $r->title; ?>" onclick="_gaq.push(['_trackEvent', 'HealthDose - Widget', 'Clicked','Article <?php echo $i; ?> - Image Link']);" class="techbyte-imgwrap">
            <img height="75" width="75" style="display: block;" original="<?php echo $_SERVER['CDN_IMAGE_URL'].$thumimg; ?>" src="<?php echo $_SERVER['CDN_IMAGE_URL'].$thumimg; ?>" alt="<?php echo $r->imgalt ?>" class="wppt_preset3 thumb6 ">
      </a>
      <a target="_blank" href="<?php echo $r->link; ?>" title="<?php echo $r->title; ?>" onclick="_gaq.push(['_trackEvent', 'HealthDose - Widget', 'Clicked','Article <?php echo $i; ?> - Title Link']);" class="techbyte-descwrap"><?php echo $this->truncateText($r->title, 80); ?></a>
    </li>
<?php
        $i++;
    }
?>
  </ul>
</div>
</body>
</html>