<?php
    $result = $this->result;
    $name = $this->name;
    $morelink = $this->morelink;
    $site = $this->site;
?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>India | Latest India News | Get Free India.com Email | Live Cricket and Entertainment News at India.Com</title>
<meta name="description" content="India news & live updates on cricket, entertainment & latest technology by India.com - Proud to be India. Start using India's most amazing free email experience: India.com Mail now."></meta>
<meta name="keywords" content="India, india news, indian politics, cricket updates, tech reviews, free mail, free email id, Indian email id, Indian mail id, technology in india"></meta>
<meta name="robots" content="index, follow"></meta>
<!--<link rel="stylesheet" type="text/css" href="http://st1.india.com/indstatic/css/homepage.css?20130509" /> -->
<script type="text/javascript" src="http://st1.india.com/indstatic/js/html5.js?20130509"></script>
<script type="text/javascript" src="http://st1.india.com/indstatic/js/jquery-1.7.1.min.js?20130509"></script>
<script type="text/javascript">
/* jcarousellite */
(function($){$.fn.jCarouselLite=function(o){o=$.extend({btnPrev:null,btnNext:null,btnGo:null,mouseWheel:false,auto:null,speed:200,easing:null,vertical:false,circular:true,visible:3,start:0,scroll:1,beforeStart:null,afterEnd:null},o||{});return this.each(function(){var b=false,animCss=o.vertical?"top":"left",sizeCss=o.vertical?"height":"width";var c=$(this),ul=$("ul",c),tLi=$("li",ul),tl=tLi.size(),v=o.visible;if(o.circular){ul.prepend(tLi.slice(tl-v-1+1).clone()).append(tLi.slice(0,v).clone());o.start+=v}var f=$("li",ul),itemLength=f.size(),curr=o.start;c.css("visibility","visible");f.css({overflow:"hidden",float:o.vertical?"none":"left"});ul.css({margin:"0",padding:"0",position:"relative","list-style-type":"none","z-index":"1"});c.css({overflow:"hidden",position:"relative","z-index":"2",left:"0px"});var g=o.vertical?height(f):width(f);var h=g*itemLength;var j=g*v;f.css({width:f.width(),height:f.height()});ul.css(sizeCss,h+"px").css(animCss,-(curr*g));c.css(sizeCss,j+"px");if(o.btnPrev)$(o.btnPrev).click(function(){return go(curr-o.scroll)});if(o.btnNext)$(o.btnNext).click(function(){return go(curr+o.scroll)});if(o.btnGo)$.each(o.btnGo,function(i,a){$(a).click(function(){return go(o.circular?o.visible+i:i)})});if(o.mouseWheel&&c.mousewheel)c.mousewheel(function(e,d){return d>0?go(curr-o.scroll):go(curr+o.scroll)});if(o.auto)setInterval(function(){go(curr+o.scroll)},o.auto+o.speed);function vis(){return f.slice(curr).slice(0,v)};function go(a){if(!b){if(o.beforeStart)o.beforeStart.call(this,vis());if(o.circular){if(a<=o.start-v-1){ul.css(animCss,-((itemLength-(v*2))*g)+"px");curr=a==o.start-v-1?itemLength-(v*2)-1:itemLength-(v*2)-o.scroll}else if(a>=itemLength-v+1){ul.css(animCss,-((v)*g)+"px");curr=a==itemLength-v+1?v+1:v+o.scroll}else curr=a}else{if(a<0||a>itemLength-v)return;else curr=a}b=true;ul.animate(animCss=="left"?{left:-(curr*g)}:{top:-(curr*g)},o.speed,o.easing,function(){if(o.afterEnd)o.afterEnd.call(this,vis());b=false});if(!o.circular){$(o.btnPrev+","+o.btnNext).removeClass("disabled");$((curr-o.scroll<0&&o.btnPrev)||(curr+o.scroll>itemLength-v&&o.btnNext)||[]).addClass("disabled")}}return false}})};function css(a,b){return parseInt($.css(a[0],b))||0};function width(a){return a[0].offsetWidth+css(a,'marginLeft')+css(a,'marginRight')};function height(a){return a[0].offsetHeight+css(a,'marginTop')+css(a,'marginBottom')}})(jQuery);
/* jcarousellite ends */
$(document).ready(function(){
	$(".trvlcarousel").jCarouselLite({
		btnNext: ".trvlcarousel .next",
		btnPrev: ".trvlcarousel .prev",
		speed: 800,
		visible: 4,
		scroll: 1,
		circular: false
	});
	
	
	
	$('.trvlcarousel .mid figure').first().addClass('active');
	$('.jthumb-bar ul li').first().addClass('active');
	$('#picts .rthld figcaption').last().addClass('nomargin');
	
	$(".trvlcarousel .jthumb-bar img").click(function() {
		$('.thumbwrap ul').find('.active').removeClass('active');
		$(this).parent().addClass('active');
		var fn = $(this).attr("rel");
		$(".trvlcarousel .mid").find('.active').fadeOut().removeClass('active');
		$(".trvlcarousel .mid figure:nth-child("+fn+")").fadeIn().addClass('active');
	});
});
</script>
<!-- google analytics code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19458284-34']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- google analytics code end -->
<style type="text/css">
/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);*/
<?php 
//if($site == 'dna'){
?>    
    @font-face {
        font-family: 'MuseoSlab500Regular';
        src: url('/indstatic/fonts/museo-slab-500.eot');
        src: url('/indstatic/fonts/museo-slab-500.eot?#iefix') format('embedded-opentype'),
             url('/indstatic/fonts/museo-slab-500.woff') format('woff'),
             url('/indstatic/fonts/museo-slab-500.ttf') format('truetype'),
             url('/indstatic/fonts/museo-slab-500.svg#MuseoSlab500Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
<?php 
    $font_family = "'MuseoSlab500Regular',sans-serif";
//}
?>
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0px;padding:0px;font-weight:noral; font-size: 12px; font-family: <?php echo $font_family; ?>;}
body{margin:0px auto;background:#ffffff;color:#000000;}
h1,h2,h3{color:#666666;font-size:28px;}
a{text-decoration:none;}
fieldset,img{border:none;outline:none;}
.clear{clear:both;font-size:0px;height:0px;}
li{list-style:none;}
ul{list-style-type:none;}
img{border:0px;display:block;}
.cursorH{cursor:pointer;}
input{outline:none;}
header,nav,section,article,aside,figure,figcaption,footer{display:block;margin:0px;padding:0px;}
.sprit-icon{background-image:url(http://www.india.com/indstatic/images/sprit.jpg);background-repeat:no-repeat;background-position:0px 0px;}
.nomargin{margin:0px !important;}
.clearspace{margin:0px !important;padding:0px !important;}
.noborder{border:0px !important;}
/* resetter ends */
.trvlft{clear:both; height:340px; width:300px; overflow:hidden;}.trvlft h2{line-height:32px;padding-bottom:5px;}.trvlft h2 a{font:normal 1rem arial; color:#ce0000; text-transform:uppercase;}.trvlft h2 .powered{font:bold 9px arial;color:#666666;margin:0 0 0 150px;display:block;text-decoration:none;text-align:right}.trvlft h2 .powered a{display: inline-block;margin-bottom: -4px;}
.trvlft .trvlcarousel{width:300px !important;}.trvlft .trvlcarousel .mid{position:relative;width:300px;height:250px;font-size:11px;}.trvlft .trvlcarousel .mid figure a{display:block;color:#000;font-size:0.9rem;margin-bottom:2px;}
.trvlft .trvlcarousel .jthumb-bar{height:39px;width:300px;position:relative;}.trvlft .trvlcarousel .jthumb-bar a{position:absolute;cursor:pointer;width:10px;height:37px;display:block;}.trvlft .trvlcarousel .jthumb-bar a.disabled{display:none;}
.trvlft .trvlcarousel .jthumb-bar a.prev{left:0px;background-position:-74px -60px;*z-index:2;}
.trvlft .trvlcarousel .jthumb-bar a.next{right:0px;background-position:-90px -60px;*z-index:2;}
.trvlft .trvlcarousel .jthumb-bar .thumbwrap{width:265px;height:39px;overflow:hidden;margin-left:17px;float:left;}
.trvlft .trvlcarousel .jthumb-bar li{margin-right:0px;width:65px!important;height:39px!important;}.trvlft .trvlcarousel .jthumb-bar li img{cursor:pointer;margin-left:6px;display:block;}
.trvlft .trvlcarousel .jthumb-bar li.active img{width:65px;height:37px;}
.trvlft .trvlcarousel figure{display:none;position:absolute;left:0px;top:0px;}.trvlft .trvlcarousel figure.active{display:block!important;}
.iconplay{position:absolute;width:22px;height:15px;background:url(../images/vidplay.png) no-repeat;top:30px;right:10px;}
.vidlnk{position:relative;float:left;}
.iconplay-big{position:absolute;width:60px;height:41px;background:url(../images/vidplay-big.png) no-repeat;bottom:10px;right:10px;} 
</style>
</head>
<body>
<section class="trvlft">
  <h2><span style="display: block; line-height: normal;"><a  href="<?php echo $morelink; ?>" target="_blank" onClick="_gaq.push(['_trackEvent', 'Travel Destinations - Widget', 'Clicked','Widget - Title']);" ><?php echo 'Travel Destinations'; ?></a>
          <span class="powered">Powered by: <a href="<?php echo $morelink; ?>" onClick="_gaq.push(['_trackEvent', 'Travel Destinations - Widget', 'Clicked','Widget - Title']);" target="_blank"><img src="<?php echo $_SERVER['CDN_DOMAIN']; ?>/indstatic/images/travel_logo_small.gif"></a></span></span></h2>
  <div class="trvlcarousel">
    <div class="mid">
    <?php    
        $i =1;
        //$imgcnt = 1;
        foreach($result as $r){
            if($r->video == 1){
                $vflagclass = 'class="vidlnk"';
                $vflagcode = '<span class="iconplay-big"></span>';
                $vflagcodesmall = '<span class="iconplay"></span>';
            }else{
                $vflagclass = '';
                $vflagcode = ''; 
                $vflagcodesmall ='';
            } 
            
            echo '<figure> <a onClick="_gaq.push([\'_trackEvent\', \'Travel Destinations - Widget\', \'Clicked\',\'Article '.$i.' - Image Link\']);" '.$vflagclass.' target="_blank" href="'.$r->link.'"> <img  alt="'.$r->imgalt.'" title="'.$r->title.'"  src="'.$_SERVER['CDN_IMAGE_URL'].$r->imgname.'" rel="'.$i.'" />'.$vflagcode.'</a><figcaption> <a onClick="_gaq.push([\'_trackEvent\', \'Travel Destinations - Widget\', \'Clicked\',\'Article '.$i++.' - title Link\']);" target="_blank" href="'.$r->link.'">'.$this->truncateText($r->title,50).'</a> '.$this->truncateText($r->description,160).' </figcaption></figure>';

            /*if($imgcnt++ < 2){
                echo '<figure> <a onClick="_gaq.push([\'_trackEvent\', \'New Layout1 - '.$name.'\', \'Clicked\',\'Article '.$i.' - Image Link\']);"  '.$vflagclass.' target="_blank" href="'.$r->link.'"> <img  alt="'.$r->imgalt.'" title="'.$r->title.'"  src="'.$_SERVER['CDN_IMAGE_URL'].$r->imgname.'" rel="'.$i.'" />'.$vflagcode.'</a><figcaption> <a onClick="_gaq.push([\'_trackEvent\', \'New Layout1 - '.$name.'\', \'Clicked\',\'Article '.$i++.' - title Link\']);"  target="_blank" href="'.$r->link.'">'.$this->truncateText($r->title,50).'</a> '.$this->truncateText($r->description,170).' </figcaption></figure>';
            }else{
                echo '<figure> <a onClick="_gaq.push([\'_trackEvent\', \'New Layout1 - '.$name.'\', \'Clicked\',\'Article '.$i.' - Image Link\']);"  '.$vflagclass.' target="_blank" href="'.$r->link.'"><img  alt="'.$r->imgalt.'" title="'.$r->title.'"  data-href="'.$_SERVER['CDN_IMAGE_URL'].$r->imgname.'" rel="'.$i.'" />'.$vflagcode.'</a><figcaption> <a onClick="_gaq.push([\'_trackEvent\', \'New Layout1 - '.$name.'\', \'Clicked\',\'Article '.$i++.' - title Link\']);"  target="_blank" href="'.$r->link.'">'.$this->truncateText($r->title,50).'</a> '.$this->truncateText($r->description,170).' </figcaption></figure>';                          
            } */ 
        } 
    ?>                
    </div>
    <div class="jthumb-bar"> <a href="javascript:void(0)" class="sprit-icon prev"></a> <a href="javascript:void(0)" class="sprit-icon next"></a>
      <div class="jCarouselLite thumbwrap">
        <ul>
        <?php    
            $i =1;
            $imgcnt = 1;
            foreach($result as $r){
                $thumimg = str_replace('300X169', '65X37', $r->imgname);
                $upload_path = $_SERVER['UPLOAD_IMAGE_PATH'];
                if(!file_exists($upload_path.$thumimg)) $thumimg = $r->imgname;     
                
                echo '<li><img width="65"  alt="'.$r->imgalt.'" title="'.$r->title.'"  src="'.$_SERVER['CDN_IMAGE_URL'].$thumimg.'" rel="'.$i++.'" /></li>';
                /*if($imgcnt++ < 2){
                    echo '<li><img width="65"  alt="'.$r->imgalt.'" title="'.$r->title.'"  src="'.$_SERVER['CDN_IMAGE_URL'].$thumimg.'" rel="'.$i++.'" /></li>';
                }else{
                    echo '<li><img width="65"  alt="'.$r->imgalt.'" title="'.$r->title.'"  data-href="'.$_SERVER['CDN_IMAGE_URL'].$thumimg.'" rel="'.$i++.'" /></li>';
                }*/
            }
        ?>  
            <div class="clear"></div>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</section>


</body>
</html>