<div id="mainwrap">
    <div id="strfrm" class="newstr br12">
    <h2>Add Story</h2>
    <form action="<?php echo $this->escape($this->action)?>" enctype="multipart/form-data" method="post">
        <label>Title</label><input type="text" class="txt" name="title" value="" />
        <div class="clear"></div>
        <label>Description</label>
        <textarea rows="4" class="txt" name="description"></textarea>
        <div class="clear"></div>
        <label>Link</label><input type="text" class="txt" name="link" value="" />
        <div class="clear"></div>
        <label>Upload Image</label>
        <input type="file" name="fileField" id="fileField" />
        <div class="clear"></div>
        <label>Upload Image1</label>
        <input type="file" name="fileField1" id="fileField1" />
        <div class="clear"></div>
        <label>Upload Image2</label>
        <input type="file" name="fileField2" id="fileField2" />
    <div class="clear"></div>
        <label>Image Alt Tag</label><input type="text" class="txt" name="imgalt" value="" />
        <div class="clear"></div>
        <label>Video Flag</label><input type="checkbox" class="txt" name="video" value="1" />
        <div class="clear"></div>        
   		<input type="submit" value="Add to Library" class="btnsubmit br5" /> 
    </form>
    <div class="clear"></div>
    </div>
	<div class="clear"></div>
</div>