<div id="mainwrap">
  <h1><?php echo $this->escape($this->title);?></h1>
  <div id="description">
    <?php echo $this->escape($this->description);?>
  </div>
  <form name="cwidget" method="post" action="<?php echo $this->escape($this->action)?>">
  <table>
    <tr>
	  <td><?php echo $this->escape($this->w_name)?></td>
	  <td><input type="text" name="w_name"></td>
	</tr>
    <tr>
	  <td><?php echo $this->escape($this->w_slug)?></td>
	  <td><input type="text" name="w_slug"></td>
	</tr>	
    <tr>
	  <td><?php echo $this->escape($this->w_mlink)?></td>
	  <td><input type="text" name="m_link"></td>
	</tr>
    <tr>
	  <td><?php echo $this->escape($this->image_h)?></td>
	  <td><input type="text" name="image_h"></td>
	</tr>		
    <tr>
	  <td><?php echo $this->escape($this->image_w)?></td>
	  <td><input type="text" name="image_w"></td>
	</tr>	
    <tr>
	  <td><?php echo $this->escape($this->w_type)?></td>
	  <td><input type="text" name="w_type"></td>
	</tr>
  </table>
  <input type="submit" name="submit" value="<?php echo $this->escape($this->label_submit);?>">
  </form>
	<div class="clear"></div>
</div>