<div id="mainwrap">
    <div id="strfrm" class="newstr br12">
    <form action="<?php echo $this->escape($this->action)?>" enctype="multipart/form-data" method="post">
        <label>India.com Logo</label>
        <input type="file" name="fileField" id="fileField" />
        <div class="clear"></div>
        <label>Breaking News</label>
        <?php $v = $this->bnewsflag;?>
        <input type="checkbox" <?php echo $v?'checked="checked" ':'';?>name="bnews" value="Breaking News">
        <input type="text" id="bnewstitle" name="bnewstitle" value="BREAKING NEWS">(You can edit breaking news widget title here)
        <div class="clear"></div>   
        <label>Returning Users</label>
        <textarea id="returnusermsg" name="returnusermsg" cols='50' rows='5'><?php echo $this->returnusermsg; ?></textarea>(You can edit Returning User message here)
        <!-- <input type="text" id="returnusermsg" name="returnusermsg" value='<?php //echo $this->returnusermsg; ?>'> -->
        <div class="clear"></div>   
        <label>--- Ad tags ---</label>
        <div class="clear"></div>
        <label>Header ( 728X90 )</label>
        <textarea rows="4" class="txt" name="header728"></textarea>
        <div class="clear"></div>
        <label>Middle ( 468X60 )</label>
        <textarea rows="4" class="txt" name="middle468"></textarea>
        <div class="clear"></div>
        <label>Middle ( 160X60 )</label>
        <textarea rows="4" class="txt" name="middle160"></textarea>
        <div class="clear"></div>
        <label>Sidebar Top( 300X250 )</label>
        <textarea rows="4" class="txt" name="sidetop300"></textarea>
        <div class="clear"></div>  
        <label>Sidebar Middle( 300X250 )</label>
        <textarea rows="4" class="txt" name="sidemiddle300"></textarea>
        <div class="clear"></div> 
   <input type="submit" value="Update Changes" class="btnsubmit br5" /> 
    </form>
    <div class="clear"></div>
    </div>
	<div class="clear"></div>
</div>