<?php
        	$datas = $this->data;
                $type = $this->type;
                
                if($type != 1 ) $type = 0;
        	$orderarr = array(0,1,1.1,1.2,
                                    2,2.1,2.2,
                                    3,3.1,3.2,
                                    4,4.1,4.2,
                                    5,5.1,5.2,
                                    6,6.1,6.2,
                                    7,7.1,7.2,
                                    8,8.1,8.2,
                                    9,9.1,9.2,
                                    10,10.1,10.2,
                                    );
?>
            <div class="lstno">
            <?php $j=1; foreach($datas as $k=>$v){  ?>
                <p id="<?php echo "pid".$v->id;?>" class="<?php if($type == 1) echo $orderarr[$j]; else echo $j;?>">
                    <?php if($type == 1) echo $orderarr[$j++]; else echo $j++;?>                
                </p>
            <?php }?> 
            </div>
            <div style="position: absolute; padding: 8px 0px; width: 960px; text-align: center; display: none;" id="prehotelloader">
					<img src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/images/hotelspreloader.gif">					
			</div>
            <div id="widlist">
<?php        	
			foreach($datas as $v){ 
?>                
                <div class="listdiv" id='<?php echo $v->id;?>'>
                    <?php
                        if(empty($v->imgname)) $imgshow = $v->image;
                        else $imgshow = $v->imgname;
                    ?>
                    <div class="thumb"><img src="<?php echo $_SERVER['UPLOAD_IMAGE_URL'].$imgshow;?>" /></div>
                    <div class="ttl"><?php echo $v->title;?></div>
                    <div class="desc"><?php echo $v->description;?></div>
                    <div class="tags"><input type="checkbox" disabled <?php echo $v->video?'checked="checked"':''; ?> ></div>
                    <div class="remv"><a onclick="deletestoryfromwidget(<?php echo $v->id;?>,<?php echo $type;?>,<?php echo count($datas);?>)">Remove</a></div>
                    <div class="edt"><a href="<?php echo $this->baseUrl();?>/publisher/edit?id=<?php echo $v->id;?>&widid=<?php echo $this->widid; ?>" onclick="edtwin(this.href);return false;">Edit</a></div>
					<input type="hidden" name="storyid" value="<?php echo $v->id;?>">
                    <div class="clear"></div>
                </div>
<?php
			}
?>
</div>