<div class="header nomargin noborder">
	<div class="headerwrap">
    	<h1>India.com Publisher</h1>
        <a href="#" class="logo"></a>
        <div class="clear"></div>
    </div>
</div>
<div id="adminnav">
		<ul>
        	<!-- li><a href="browse-stories.htm">Browse Stories</a></li -->
        	<li><a href="<?php echo $this->baseUrl()."/publisher/medialibrary";?>">Media Library</a></li>
        	<li><a href="<?php echo $this->baseUrl()."/publisher/publishwidget";?>">Publish Widget</a></li>
        	<li ><a href="<?php echo $this->baseUrl()."/publisher/addstory";?>">Add Story</a></li>
                <li class=""><a href="<?php echo $this->baseUrl()."/outline/";?>">Outline</a></li>
                <li class=""><a href="<?php echo $this->baseUrl()."/publisher/adtags";?>">Manage Stable</a></li>
                <?php 
                    $ob = new Application_Model_Admin();
                    if($ob->_is_logged_in()){
                ?>
                <li class=""><a href="<?php echo $this->baseUrl()."/publisher/logout";?>">Logout</a></li>
                <?php } else {?>
                <li class=""><a href="<?php echo $this->baseUrl()."/publisher/userlogin";?>">Login</a></li>
                <?php }?>
        </ul>
</div>