<div id="mainwrap">
<div class="wid-btns">
    	<!-- a href="javascript:void(0)">Update Media Library</a -->
        <a onclick="publishwidget()">Publish Widget</a>
    </div>
    <?php echo $this->render('admin/widgetdropdown.phtml') ?>
    <div class="clear"></div>
	<div id="strlist" class="br5">
		<div class="hdbx">
        	<div class="srno">No.</div>
        	<div class="thumb">Image</div>
            <div class="ttl">Title</div>
            <div class="desc">Description</div>
            <div class="tags">Video Flag</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="liblist-itm">
        
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="wid-btns">
    	<!-- a href="javascript:void(0)">Update Media Library</a -->
        <a onclick="publishwidget()">Publish Widget</a>
    </div>
    <script type="text/javascript">
        wid='<?php echo $this->wid; ?>';
        jQuery(document).ready(function(){
            jQuery('#widget').attr('selected');
            if(wid != 'noval'){
                jQuery('#widget').val(wid);
                showwidgetstories();
            }
        });
    	
    </script>
    	<div class="clear"></div>
</div>    
