<?php
        /*if($_SERVER['REQUEST_URI'] == '/admin/userlogin'){
            
        }else{
            $auth = Zend_Auth::getInstance(); 
            if(!$auth->hasIdentity()){
              header('Location:'.$this->baseUrl().'/admin/userlogin'); 
            }
        }*/
?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>India.com Publisher</title>
<?php echo $this->headLink()->appendStylesheet($_SERVER['CDN_DOMAIN'].'/indstatic/css/india-com-pub.css?'.$_SERVER['FVERSION']) ?>
<?php echo $this->headLink()->appendStylesheet($_SERVER['CDN_DOMAIN'].'/indstatic/css/india-com-layout.css?'.$_SERVER['FVERSION']) ?>
<?php echo $this->jQuery()
                ->setVersion('1.9.0')
                //->setUiVersion('1.8.11')
                ->enable();
                //->uiEnable(); 
?>
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/jquery-ui.js?<?php echo $_SERVER['FVERSION'];?>"></script>
<script type="text/javascript" src="<?php echo $_SERVER['CDN_DOMAIN'];?>/indstatic/js/common.js?<?php echo $_SERVER['FVERSION'];?>"></script>

</head>
    <body>
        <?php echo $this->render("publisher/header.phtml"); ?>
        <?php echo $this->layout()->content; ?>
        <?php echo $this->render("publisher/footer.phtml"); ?>
    </body>
</html>