<div id="mainwrap">	
            <?php
                $dval = $this->escape($this->laynum);
                
            ?>
            <div class="" style="height: 20px; padding: 0px 0px 20px">
                <select onchange="changelocation()" name="layoutnumber" id="layoutnumber">
                    <option value="noval">Select Layout</option>
                    <option <?php echo $dval=='1'?" selected=\"selected\"":"";?> value="1">Layout 1</option>
                    <option <?php echo $dval=='2'?" selected=\"selected\"":"";?>  value="2">Layout 2</option>
                    <option <?php echo $dval=='3'?" selected=\"selected\"":"";?>  value="3">Layout 3</option>
                    <option <?php echo $dval=='4'?" selected=\"selected\"":"";?>  value="4">Layout 4</option>
                    <option <?php echo $dval=='5'?" selected=\"selected\"":"";?>  value="5">Layout 5</option>        
                </select> 
                <a target="_blank" href="/outline/preview/design/<?php echo $dval;?>" style="padding-left: 30px;">Preview Layout</a>
            </div> 
    <section class="sectionleft">
            <div id="d1" class="featuredstories bgcol"><h1>Featured stories</h1></div>
            <div id="d2" class="othertopstories bgcol"><h1>Other top stories</h1></div>
            <div class="clear"></div>
            <div id="sectionsortbx">
                <?php echo $this->html?>
            	<!-- section id="sec1" class="innersection bgcol">
                	<h2 class="myh2">Sports-Ent-Busi Block</h2>
                    <ul class="innerlist" id="Sports-Ent-Busi">
                    	<li id="sec1d1" class="br5"><p>Entertainment</p></li>
                        <li id="sec1d2" class="br5"><p>Business</p></li>
                        <li id="sec1d3" class="br5"><p>Sports</p></li>
                    </ul>
                    <div class="clear"></div>
                </section>
             	<section id="sec2" class="innersection adblock bgcol">
                	<h2 class="myh2">Adbanner Block</h2>
                    <ul class="innerlist" id="adbanner">
                    	<li id="sec2d1" class="adbanner468 br5"><p>Adbanner 468x60</p></li>
                        <li id="sec2d2" class="adbanner160 br5"><p>Adbanner 160x60</p></li>
                    </ul>
                    <div class="clear"></div>
                </section>
                <section id="sec3" class="innersection bgcol edublock">
                	<h2 class="myh2">Education Block</h2>
                        <div id="sec3d1">
                            <div class="education br5"><h2>Education</  h2></div>
                        </div>
                    <div class="clear"></div>
                </section>
                <section id="sec4" class="innersection bgcol">
                	<h2 class="myh2">Mobile-Autos-Health Block</h2>
                    <ul class="innerlist" id="Mobile-Autos-Health">
                    	<li id="sec4d1" class="br5"><p>Health</p></li>
                        <li id="sec4d2" class="br5"><p>Mobile</p></li>
                        <li id="sec4d3" class="br5"><p>Autos</p></li>
                    </ul>
                    <div class="clear"></div>
                </section -->
           
            </div> 
        </section >
        <aside class="sectionright">
            <?php echo $this->sidehtml?>
        <!--ul id="sidebar"  class="wdgtitems">
            
        	<li id="sd1">Gallery</li>
        	<li id="sd2">Top Ad banner 300 x 250</li>
        	<li id="sd3">Travel</li>
        	<li id="sd4">Bottom Ad Banner 300 X 250</li>
        	<li id="sd5">Food</li>
        </ul -->
        </aside>
    </section>
    <input type="hidden" id="laynum" name="laynum" value="<?php echo $this->escape($this->laynum)?>">
    <div class="clear"></div>
</div>