<?php echo $this->render("index/header.phtml"); ?>
<div id="socialshare-fixed" >
	
    <a href="http://www.facebook.com/indiacom" target="_blank" class="sprit-icon fb"></a>
    <a href="http://www.twitter.com/indiacom" target="_blank" class="sprit-icon tw"></a>
    <a href="https://plus.google.com/104851070044778838603?prsrc=3" class="sprit-icon gplus" target="_blank" ></a>
</div>
<div class="tipwrp">
    <span class="tiparw"></span>
    <div class="tiptxt">
        <h3></h3>
        <div class="tiptxtdesc"></div>
    </div>
    <p class="tipshr">
        <span>SHARE</span>
        <a href="#" target="_blank" onclick="return !window.open(this.href, 'G+', 'width=640,height=300')" class="gp spr_tip"></a>
        <a href="#" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" class="fb spr_tip"></a>
        <a href="#" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class="tw spr_tip"></a>
        <a href="#" target="_blank" onclick="_gaq.push(['_trackEvent', 'ExcerptBlurbReadMore', 'Clicked']);" class="more">READ MORE</a>
    </p>
</div>
<section id="contentwrap">
    <!-- Message for Returning Users -->
    <div id="returningusers" style="margin-bottom:10px;display:none;">
    	<div class="brknews">
            <div class="brknwtxt" style="padding: 10px 0 0 10px;">
            	<?php echo $this->returnmsg; ?>
            </div>
            <div class="retuserclose">X</div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- End --> 
    <?php $bnews = $this->breakingnews;
        if($bnews){
            $bnewsname = $this->bnewsname;
    ?>
    <!-- Breaking News -->
    <div id="breakingnews" style="margin-bottom:10px;">
    	<div class="brknews">
        	<div class="brkttl"><h1><?php echo $bnewsname?$bnewsname:'BREAKING NEWS'; ?></h1></div>
            <div class="brknwtxt"><!--<a>Railway Budget 2013 Hitghlights: No hike in passenger fares, but travel cost to go up</a> -->
            	<ul>
                    <?php  
                        foreach($bnews as $n){
                    ?>
                	<li><p><a <?php echo $n->link?'target="_blank"':''; ?> onclick="_gaq.push(['_trackEvent', 'BreakingNews', 'Clicked']);" href="<?php echo $n->link?$n->link:'#';?>"><?php echo $n->title;?></a></p></li>
                    <?php } ?>    
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- End --> 
    <?php } ?>
    <section class="sectionleft">
                <div id="d1">
            <div class="sliderkit featuredstories">
                <div class="sliderkit-panels">
                 <?php
                  $top = $this->topstories;
                  $imgcnt = 1;
                  foreach($top as $t){
                        if($t->video == 1){
                            $vflagclass = 'class="vidlnk"';
                            $vflagcode = '<span class="iconplay-big"></span>';
                            $vflagcodesmall = '<span class="iconplay"></span>';
                        }else{
                            $vflagclass = '';
                            $vflagcode = ''; 
                            $vflagcodesmall ='';
                        }                      
                 ?>   
                    <div <?php echo $imgcnt!=1?'style="display: none;"':''; ?> class="sliderkit-panel">
                      <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top Carousel', 'Clicked','Article <?php echo $imgcnt;?> - Image Link']);" <?php echo $vflagclass; ?> target="_blank" href="<?php echo $t->link;?>">
                      <?php if($imgcnt++ <5){?>
                          <img alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>" src="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>"></img>
                      <?php } else {?>    
                          <img alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>" data-href="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>" src=""></img>
                      <?php } ?> 
                      <?php echo $vflagcode;?>    
                      </a>
                    <div class="sliderkit-panel-textbox">
                      <div class="sliderkit-panel-text">
                    <h2><a    onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top Carousel', 'Clicked','Article <?php echo $imgcnt-1;?> - title Link']);"  target="_blank" href="<?php echo $t->link;?>"><?php echo $this->truncateText($t->title, 50);?></a></h2>
                        <p><?php echo  $this->truncateText($t->description,150);?></p>
                      </div>
                      <div class="sliderkit-panel-overlay"></div>
                    </div>
                  </div>
                  <?php } ?>  

                </div>
                <div class="clear"></div>
                <div class="sliderkit-nav">
                  <div class="sliderkit-nav-clip">
                    <ul>
                      <?php 
                        $imgcnt = 1;
                        foreach($top as $t){
                        if($t->video == 1){
                            $vflagclass = 'class="vidlnk"';
                            $vflagcode = '<span class="iconplay-big"></span>';
                            $vflagcodesmall = '<span class="iconplay"></span>';
                        }else{
                            $vflagclass = '';
                            $vflagcode = ''; 
                            $vflagcodesmall ='';
                        }
                        $thumimg = str_replace('370X208', '74X42', $t->imgname);
                        
                        $upload_path = $_SERVER['UPLOAD_IMAGE_PATH'];
                        if(!file_exists($upload_path.$thumimg)) $thumimg = $t->imgname;
                        
                      ?>  
                      <li><a href="<?php echo $t->link;?>" rel="nofollow" class="sprit-icon">
                      <?php if($imgcnt++ <5){?>
                          <img alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  width="74px" src="<?php echo $_SERVER['CDN_IMAGE_URL'].$thumimg;?>"></img>
                      <?php } else {?>    
                          <img alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  width="74px" src="" data-href="<?php echo $_SERVER['CDN_IMAGE_URL'].$thumimg;?>"></img>
                      <?php } ?>
                              
                              
                              <p><?php echo  $this->truncateText($t->title,40);?></p></a></li>
                      <?php } ?>
                    </ul>
                  </div>
                <div class="clear"></div>
                <div class="ctrlwrap">
                    <div class="sliderkit-count sliderkit-count-items">
                        <span class="sliderkit-count-current"></span>
                        <span class="sliderkit-count-sep">/</span>
                        <span class="sliderkit-count-total"></span>
                    </div>
                    <div class="ctrlbtn">
                        <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line" class="sprit-icon"><span></span></a></div>
                        <div class="sliderkit-btn sliderkit-play-btn sliderkit-pause-btn"><a href="#" title="Play/Pause" class="sprit-icon"><span></span></a></div>
                        <div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line" class="sprit-icon"><span></span></a></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
        </div>
        <div id="d2" class="othertopstories">
			<div class="othrstrs">
            	<ul class="secnav">
                	<li class="news"><a href="javascript:void(0)"><span class="lnktxt">News</span><span class="sprit-icon arrw"></span></a></li>
                	<li class="bolly"><a href="javascript:void(0)"><span class="lnktxt">Bollywood</span><span class="sprit-icon arrw"></span></a></li>
                	<li class="cc"><a href="javascript:void(0)"><span class="lnktxt">Cricket</span><span class="sprit-icon arrw"></span></a></li>
                	<li class="othersts"><a href="javascript:void(0)"><span class="lnktxt">Other Stories</span><span class="sprit-icon arrw"></span></a></li>
                </ul>
                <div class="clear"></div>
                <div class="otherstr-wrap">
                	<article class="othrstr-cont active" id="topnews">
                             <?php
                              $texth = 35;
                              $desh = 65;
                              $news = $this->news;
                              $ga = 0;
                              foreach($news as $t){
                                $ga++;  
                                if($t->video == 1){
                                    $vflagclass = 'class="vidlnk"';
                                    $vflagcode = '<span class="iconplay-big"></span>';
                                    $vflagcodesmall = '<span class="iconplay"></span>';
                                }else{
                                    $vflagclass = '';
                                    $vflagcode = ''; 
                                    $vflagcodesmall ='';
                                } 
                             ?>
                            <figure>
                                <a onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','News Article <?php echo $ga;?> - Image Link']);"  <?php echo $vflagclass;?> target="_blank"  href="<?php echo $t->link;?>"><img src="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>" alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  /><?php echo $vflagcodesmall;?></a>
                                <figcaption>
                                    <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','News Article <?php echo $ga;?> - title Link']);"  target="_blank"  href="<?php echo $t->link;?>"><?php echo  $this->truncateText($t->title,$texth);?></a>
                                    <p><?php echo  $this->truncateText($t->description,$desh);?></p>
                                </figcaption>
                                <div class="clear"></div>
                            </figure>
                            <?php } ?>
            		</article>
                    <article class="othrstr-cont" id="topbolly">
                             <?php
                              $bollywood = $this->bollywood;
                               $ga = 0;
                              foreach($bollywood as $t){ 
                                $ga++;  
                                if($t->video == 1){
                                    $vflagclass = 'class="vidlnk"';
                                    $vflagcode = '<span class="iconplay-big"></span>';
                                    $vflagcodesmall = '<span class="iconplay"></span>';
                                }else{
                                    $vflagclass = '';
                                    $vflagcode = ''; 
                                    $vflagcodesmall ='';
                                }                                   
                             ?>
                            <figure>
                                <a onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Bollywood Article <?php echo $ga;?> - Image Link']);"  <?php echo $vflagclass; ?> target="_blank"  href="<?php echo $t->link;?>">
                                        <img data-href="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>" src="" alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  />
                                    <?php echo $vflagcodesmall;?>    
                                </a>
                                <figcaption>
                                    <a onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Bollywood Article <?php echo $ga;?> - title Link']);"  target="_blank"  href="<?php echo $t->link;?>"><?php echo  $this->truncateText($t->title,$texth);?></a>
                                    <p><?php echo  $this->truncateText($t->description,$desh);?></p>
                                </figcaption>
                                <div class="clear"></div>
                            </figure>
                            <?php } ?>
                    </article>
                    <article class="othrstr-cont" id="crick">
                             <?php
                              $cricket = $this->cricket;
                              $ga = 0;
                              foreach($cricket as $t){  
                                $ga++;  
                                if($t->video == 1){
                                    $vflagclass = 'class="vidlnk"';
                                    $vflagcode = '<span class="iconplay-big"></span>';
                                    $vflagcodesmall = '<span class="iconplay"></span>';
                                }else{
                                    $vflagclass = '';
                                    $vflagcode = ''; 
                                    $vflagcodesmall ='';
                                }                                  
                             ?>
                            <figure>
                                <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Cricket Article <?php echo $ga;?> - Image Link']);"  <?php echo $vflagclass; ?> target="_blank"  href="<?php echo $t->link;?>">
                                    <img data-href="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>" src="" alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  />
                                    <?php echo $vflagcodesmall;?>
                                </a>
                                <figcaption>
                                    <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Cricket Article <?php echo $ga;?> - title Link']);"  target="_blank"  href="<?php echo $t->link;?>"><?php echo  $this->truncateText($t->title,$texth);?></a>
                                    <p><?php echo  $this->truncateText($t->description,$desh);?></p>
                                </figcaption>
                                <div class="clear"></div>
                            </figure>
                            <?php } ?>
                    </article>
                    <article class="othrstr-cont" id="othstories">
                             <?php
                              $otherstories = $this->otherstories;
                              $ga = 0;
                              foreach($otherstories as $t){ 
                                $ga++;  
                                if($t->video == 1){
                                    $vflagclass = 'class="vidlnk"';
                                    $vflagcode = '<span class="iconplay-big"></span>';
                                    $vflagcodesmall = '<span class="iconplay"></span>';
                                }else{
                                    $vflagclass = '';
                                    $vflagcode = ''; 
                                    $vflagcodesmall ='';
                                }                                  
                             ?>
                            <figure>
                                <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Other Article <?php echo $ga;?> - Image Link']);"   <?php echo $vflagclass; ?>  target="_blank"  href="<?php echo $t->link;?>">
                                    <img data-href="<?php echo $_SERVER['CDN_IMAGE_URL'].$t->imgname;?>" src="" alt="<?php echo $t->imgalt;?>" title="<?php echo $t->title;?>"  />
                                    <?php echo $vflagcodesmall;?>
                                </a>
                                <figcaption>
                                    <a  onClick="_gaq.push(['_trackEvent', 'New Layout1 - Top News Widget', 'Clicked','Other Article <?php echo $ga;?> - title Link']);"  target="_blank"  href="<?php echo $t->link;?>"><?php echo  $this->truncateText($t->title,$texth);?></a>
                                    <p><?php echo  $this->truncateText($t->description,$desh);?></p>
                                </figcaption>
                                <div class="clear"></div>
                            </figure>
                            <?php } ?>
                    </article>
                </div>
                <!-- Other top stories random load -->
        <script type="text/javascript">
			var othsrt_length = 3;
			var othstr_rpos = Math.floor(Math.random()*othsrt_length) + 1;
			$(".otherstr-wrap .othrstr-cont:nth-child("+othstr_rpos+")").addClass('active');
			$(".othrstrs .secnav li:nth-child("+othstr_rpos+")").addClass('active');
		</script>                
                <!-- End -->
                
            </div>        
    	</div>
        <div class="clear"></div>
        <div id="sectionsortbx">
            <?php echo $this->html?>
        </div> 
    </section>
    <aside class="sectionright">
        <?php echo $this->sidehtml?>
    </aside>
    <div class="clear"></div>
</section>
<?php echo $this->render("index/footer.phtml"); ?>
