body ul#sharebar {  position: absolute; width: 65px; float: left; background: #fff; padding: 0; text-align: center; border: 1px solid #ccc; list-style: none; margin: 0; z-index: 99; }
body ul#sharebar li { display: block; margin: 5px; padding: 0; overflow: hidden; text-align: center; }
body ul#sharebarx {  list-style: none; width: 100%; float: left; margin: 0 0 10px; padding: 0; }
body ul#sharebarx a { line-height: 14px; text-decoration: none; }
body ul#sharebarx li { float: left; margin-right: 20px; line-height: 18px; }
body ul#sharebarx li .st_email  { margin: 0 15px !important; }
.sharebar-button { font-size: 11px; font-family: Verdana, Arial; padding: 2px 4px; background: #f7f7f7; color: #444; border: 1px solid #ddd; display: block;margin: 0 0 5px; }
.sharebar-button:hover { border-color: #aaa; }
.credit { margin: 0; padding: 0; line-height: 9px; }
.credit a { font-size: 8px; color: #ccc; text-transform: uppercase; text-decoration: none; font-family: Verdana; line-height: 9px; }
.FBConnectButton_Small{background-position:-5px -232px !important;border-left:1px solid #1A356E;}
.FBConnectButton_Text{margin-left:12px !important ;padding:2px 5px 3px !important;}
.stButton{margin:0 0 6px !important;}
.stButton:last-child{margin:0 !important;}
.stButton .stFb_vbubble { width:53px !important; }
.stButton .stFb_text { padding: 2px 5px 3px !important; margin: 1px 1px 0 14px !important; }