<table border='0' align='left' cellpadding='1' cellspacing='0'>
<tr>
	<td>User name #replace_sendername#</td>
</tr>
<td></td>
<td></td>
<tr>
	<td>User Email #FROM_EMAI#</td>
</tr>
<td></td>
<td></td>
<tr>
	<td>
		<table width='252' border='0' cellpadding='0' cellspacing='0' hspace='0' vspace='0' width='100%'>
			<tr>
			    <td>Inquiry Subject: #inSubject#</td>
			</tr>
			<td></td>
			<td></td>
			<tr>
				<td>Comment: #message#</td>
				
			</tr>
		</table>
	</td>
</tr>

</table>
