<table border='0' align='center' cellpadding='1' cellspacing='0' style='font:normal 12px Arial;'>
<!--<tr>
	<td><a href="#URL#"><img src='#IMAGE_URL#oncars-logo.jpg' width='252' height='20' alt='#imgalt#'/></a></td>   
</tr>
<tr>
	<td>Hello #replace_username#,</td>
    <td>Date #current_date#</td>
</tr>-->
<tr>
	<td>
		<table width='252' border='0' cellpadding='0' cellspacing='0' hspace='0' vspace='0' width='100%'>
			<!--<tr>
				<td>#message#</td>
			</tr>-->
			<tr>
				<!--td>#share_url#</td-->
				<td>
				<p> <span style='font-weight:bold;'>#replace_sendername#</span> has shared an article with you.<br />
					#message#</p>
				<p></p>
				<p>
				#share_url#
				</p>
				<p>---------------------------------------------------------------------------------------------</p>
				<p>This message was sent via OnCars by #replace_sendername#. Please note that OnCars does not verify email addresses.
				</p>
				</td>
			</tr>
		</table>
	</td>
</tr>
<!--tr>
	<td>From #replace_sendername#</td>
</tr-->
</table>
