<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>India.com Publisher</title>
<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/indstatic/css/india-com-pub.css" />
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/indstatic/js/jquery-1.9.0.min.js"></script>

<script type="text/javascript" src="<?php echo $this->baseUrl();?>/indstatic/js/common.js"></script>
</head>

<body>
<div id="strfrm" class="br12">
<h2>Edit Story</h2>
    <form action="<?php echo $this->escape($this->action)?>" enctype="multipart/form-data" method="post">
        <label>Title</label><input type="text" class="txt" name="title" value="<?php echo $this->escape($this->title);?>" />
        <div class="clear"></div>
        <label>Description</label>
        <textarea rows="4" class="txt" name="description"><?php echo $this->escape($this->description);?></textarea>
        <div class="clear"></div>
        <label>Link</label><input type="text" class="txt" name="link" value="<?php echo $this->escape($this->link);?>" />
        <div class="clear"></div>
        <label>Upload Image</label>
        <input type="file" name="fileField" id="fileField" />
    <div class="clear"></div>
        <label>Image Alt Tag</label><input type="text" class="txt" name="imgalt" value="<?php echo $this->escape($this->imgalt);?>" />
        <input type="hidden" name="id" value="<?php echo $this->escape($this->id);?>">
        <div class="clear"></div>
        <label>Video Flag</label><input type="checkbox" class="txt" name="video" value="1" <?php echo $this->video?'checked="checked"':'';?>/>
        <input type="hidden" name="id" value="<?php echo $this->escape($this->id);?>">
        <div class="clear"></div>        
   		<input type="submit" value="Add to Library" class="btnsubmit br5" /> 
    </form>
<div class="clear"></div>
</div>
</body>
</html>
