<div id="mainwrap">
	<div class="wid-btns">
    	<a href="javascript:void(0)" class="btn-flushmedia">Flush Media Library</a>
    </div>
    <?php echo $this->render('admin/widgetdropdown.phtml') ?>
    
    <div class="clear"></div>
	<div id="strlist" class="br5 midlib">
		<div class="hdbx">
        	<div class="thumb">Image</div>
            <div class="ttl">Title</div>
            <div class="desc">Description</div>
            <!-- div class="tags">Tags</div -->
            <div class="tags">Video Flag</div>
            <div class="clear"></div>
        </div>
        <?php
        	$datas = $this->datas;
			foreach($datas as $k=>$v){ 
        ?>
        <div class="listdiv">
        	<div class="thumb"><img src="<?php echo $_SERVER['UPLOAD_IMAGE_URL'].$v['image'];?>"  height="80" /></div>
            <div class="ttl"><?php echo $v['title'];?></div>
            <div class="desc"><?php echo $v['description'];?></div>
            <!-- div class="tags">No tags</div -->
            <div class="tags"><input type="checkbox" disabled <?php echo $v['video']?'checked="checked"':''; ?> ></div>
            <div class="add"><a onClick="addstorytowidget('<?php echo $v['id'];?>','<?php echo $v['image'];?>')">Add to Widget</a></div>
            <div class="edt"><a href="<?php echo $this->baseUrl();?>/admin/edit?id=<?php echo $v['id'];?>" onclick="edtwin(this.href);return false">Edit</a></div>
            <div class="clear"></div>
        </div>
        <?php
			}
        ?>
    </div>
    <div class="wid-btns">
    	<a class="btn-flushmedia">Flush Media Library</a>
    </div>
	<div class="clear"></div>
</div>