<div id="mainwrap">
  <h1><?php echo $this->escape($this->title);?></h1>
  <div id="description">
    <?php echo $this->escape($this->description);?>
  </div>
  <form name="register" method="post" action="<?php echo $this->escape($this->action)?>">
  <table>
    <tr>
	  <td><?php echo $this->escape($this->error)?></td>
	  <td></td>
	</tr>
    <tr>      
    <tr>
	  <td><?php echo $this->escape($this->label_fname)?></td>
	  <td><input type="text" name="first_name"></td>
	</tr>
    <tr>
	  <td><?php echo $this->escape($this->label_lname)?></td>
	  <td><input type="text" name="last_name"></td>
	</tr>	
    <tr>
	  <td><?php echo $this->escape($this->label_uname)?></td>
	  <td><input type="text" name="user_name"></td>
	</tr>
    <tr>
	  <td><?php echo $this->escape($this->label_email)?></td>
	  <td><input type="text" name="email"></td>
	</tr>		
    <tr>
	  <td><?php echo $this->escape($this->label_pass)?></td>
	  <td><input type="password" name="password"></td>
	</tr>	
  </table>
      
  <input type="submit" name="submit" value="<?php echo $this->escape($this->label_submit);?>">
  </form>
	<div class="clear"></div>
</div>