<div id="mainwrap">
    <div id="login">
     <?php 
        $auth = Zend_Auth::getInstance(); 
        if(!$auth->hasIdentity()){
     ?>   
    	<h2>LOGIN FORM</h2>
        <div class="logwrap">
        	<form method='post' action='<?php echo $this->escape($this->action);?>'>
            	<label> Username : </label><input type="text" name='username' value="" class="br5" /><div class="clear"></div>
                <label> Password : </label><input type="password" name='password' value="" class="br5" /><div class="clear"></div>
                <input type="reset" value="reset" class="logbtn"  /><input type="submit" value="Login" class="logbtn" />
                <input type="hidden" name="url" id="url" value="<?php echo $this->escape($this->url);?>">
            </form>
            <div class="clear"></div>
        </div>	
    </div>
    <p class="legaldecl">
    "By Logging-in you will be entering into a 'Secure System' as defined under the Information Technology Act, 2000.  Any trespassing, unauthorized access or attempt to get unauthorized access and after logging-in any misuse of authorization may attract appropriate disciplinary action at the sole discretion of the Management and civil and criminal liabilities as applicable."
    </p>
    <?php }else{ 
        
        echo '<a href="'.$this->baseUrl().'/admin/logout"> Log Out</a>';
        
    }
?>
</div>    