    <div class="ch-sec br5">
	<select id="widget" name="widget" onChange="showwidgetstories()">
    	<option value="noval">Change Section</option>
        <?php
        	$datas = $this->widlist;
			foreach($datas as $k=>$v){ 
        ?>
        <option value="<?php echo $v['id'];?>" title=""><?php echo $v['name'];?></option>
        <?php } ?>
    </select>
    </div>