body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0px;padding:0px; font:normal 12px arial;}
body{margin:0px auto;background:#f3f3f3;color:#000;}
h1,h2,h3,h4,h5{font-size:18px;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline;}
fieldset,img{border:none; outline:none;}
.clear{clear:both;}
ul, li{list-style-type:none;}
input{outline:none;}
header,nav,section,article,aside,figure,figcaption,footer{display:block; margin:0px; padding:0px;}
/* resetter ends */
.br12{-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}
.br5{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.bgcol{background: #E7E7E7; border:1px solid #ccc; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.clearspace{border:0px!important; margin:0px!important; padding:0px!important;}
.nomargin{margin:0px!important;}
.noborder{border:0px!important;}
.ui-sortable-placeholder { background:#FFC!important;	visibility:visible!important;	border:1px dashed #333;}
.ui-sortable-helper{ cursor: move!important;}

#mainwrap {width:960px; margin:0px auto;}
.header{background:#0883bf; padding:5px; color:#fff; border-bottom:3px solid #333; margin-bottom:10px; }
.header h1{font:bold 46px arial; float:left;}
.header a.logo{float:right; background:url(../images/india-com-logo.png) no-repeat; width:225px; height:50px; margin-top:0px;}
.contentwrap {width:100%; margin:0px auto;}
.sectionright{width:300px; float:right;}
.sectionleft{width:650px; float:left; overflow:hidden;}
.sectionleft h1{padding:5px; font:bold 22px arial; color:#666;}
.sectionleft .featuredstories{width:370px; height:75px; margin-bottom:15px; float:left;}
.sectionleft .othertopstories{width:270px; height:75px; margin-bottom:15px; float:right;}
.sectionleft .innersection {width:672px; margin-bottom:15px;}
.sectionleft .innersection h2{padding:5px; font:bold 18px arial; color:#666; display:block; cursor:move;}
.sectionleft .innersection .innerlist{margin-left:0px;}
.sectionleft .innersection .innerlist li{display:inline-block; float:left; margin-right:21px; width:200px; height:75px; border:1px solid #ccc; background:#d3d3d3; }
.sectionleft .innersection .innerlist li p{padding:10px; font:bold 18px arial; color:#666; }
.sectionleft .adblock li.adbanner468{height:60px; width:468px; margin-right:15px;}
.sectionleft .adblock li.adbanner160{height:60px; width:160px; margin-right:15px;}
.sectionleft .edublock .education{height:75px; width:648px; margin-right:15px; background:#d3d3d3; }


.footer{background:#0883bf; width:100%; padding:5px; color:#fff; border-top:3px solid #333; margin-top:10px; font:bold 22px arial;}

/* right side widget sorting */
.wdgtitems{padding:0px;}
.wdgtitems li{padding:10px 5px; background:#CCC; font:bold 13px arial; border:1px solid #ccc; margin-bottom:5px; height:50px;
-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
background: #E7E7E7; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
}
.wdgtitems .ui-sortable-placeholder { visibility:visible!important; border:1px dashed #333;}
.wdgtitems .ui-sortable-helper{ cursor: move!important;}

