body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,span{margin:0px;padding:0px; font:normal 12px arial;}
body{margin:0px auto;background:#f3f3f3;color:#000;}
h1,h2,h3,h4,h5{font-size:18px;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline;}
fieldset,img{border:none; outline:none;}
.clear{clear:both;}
ul, li{list-style-type:none;}
input{outline:none;}
header,nav,section,article,aside,figure,figcaption,footer{display:block; margin:0px; padding:0px;}
/* resetter ends */
.br12{-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px;}
.br5{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.clearspace{border:0px!important; margin:0px!important; padding:0px!important;}
#mainwrap, .headerwrap{width:980px; margin:0px auto;}
.header{background:#0883bf; padding:5px; color:#fff; border-bottom:3px solid #333; margin-bottom:20px; }
.header h1{font:bold 46px arial; float:left;}
.header a.logo{float:right; background:url(../images/india-com-logo.png) no-repeat; width:225px; height:50px; margin-top:0px;}
.nomargin{margin:0px;}
.noborder{border:0px;}
#adminnav{ background:#333; height:31px; margin-bottom:15px;}
#adminnav ul{width:980px; margin:0px auto; color:#fff;}
#adminnav ul li{display:inline-block; float:left;}
#adminnav ul li a{color:#fff; font:bold 12px arial; display:block; padding:7px 15px 7px 10px; margin-bottom:2px;}
#adminnav ul li a:hover{color:#fff; text-decoration:none; background:#0882BF;}
#adminnav ul li.active a{color:#fff; text-decoration:none; background:#0882BF;}


#login{ width:300px; margin:30px auto 0px auto;}
#login h2{padding:5px 15px; text-align:center;}
#login .logwrap{ background:#fff; padding:15px 10px; -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; border:1px solid #ccc; }
#login .logwrap label{display:block; float:left; width:80px; font:bold 13px arial; padding:3px;}
#login .logwrap input{display:block; float:left; width:170px; margin:0px 0px 0px 5px; padding:5px; border:1px solid #ccc; } 
#login .logwrap form .clear{margin-bottom:10px;}
#login .logwrap form .logbtn{width:auto; float:right; background:#333; color:#fff; border:0px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:3px 10px; text-transform:capitalize; margin-right:5px;}
.legaldecl {padding:15px 10px;}
#homeblock{width:800px; border:1px solid #ccc; padding:0px; background:#fff; overflow:hidden; margin:0px auto;}
#homeblock ul li{}
#homeblock ul li a{display:block; padding:12px 15px; color:#333;}
#homeblock ul li a:hover{ text-decoration:none;}
#homeblock ul li.odd{background:#F3F3F3; color:#000;}
#homeblock ul li.active{background:#e8ffff;}
#homeblock ul li.active a{display:block; color:#000;}

.ch-sec{float:right; width:150px; padding:8px; border:1px solid #ccc; background:#fff;}
.ch-sec select{border:0px; width:100%;}

#strlist{ background:#fff; border:1px solid #ccc; overflow:hidden; margin:15px 0px;}
#strlist .hdbx {font-weight:bold; background:#ccc; color:#000; *height:27px;}
#strlist .hdbx .srno{width:15px; margin-right:5px; float:left; padding:5px; font-weight:bold;}
#strlist .hdbx .thumb{width:80px; margin-right:5px; float:left; padding:5px; font-weight:bold;}
#strlist .hdbx .ttl {width:160px; float:left; padding:5px; font-weight:bold;}
#strlist .hdbx .desc {width:360px; float:left; padding:5px; font-weight:bold;}
#strlist .hdbx .tags{width:150px; float:left; padding:5px; font-weight:bold;}

.liblist-itm .lstno{width:25px; margin-right:5px; float:left;}
.liblist-itm .lstno p{padding:17px 5px 5px 5px; font-weight:bold; display:block; height:36px; text-align:center;}
#widlist{float:left; width:920px;}
#strlist .listdiv {padding-bottom:0px; margin-bottom:0px; border-bottom:1px solid #ccc; display:block; *height:57px;}
#strlist .listdiv .srno{width:25px; margin-right:5px; float:left; padding:5px; }
#strlist .listdiv .thumb{width:80px; margin-right:5px; float:left; padding:5px;}
#strlist .listdiv .thumb img{width:83px; height:45px; border:1px solid #ccc;}
#strlist .listdiv .ttl{width:160px; float:left; padding:5px;}
#strlist .listdiv .desc{width:360px; float:left; padding:5px;}
#strlist .listdiv .tags{width:150px; float:left; padding:5px;}
#strlist .listdiv .edt{width:35px; float:right; padding:5px 3px;}
#strlist .listdiv .add{width:100px; float:right; padding:5px 3px;}
#strlist .listdiv .remv{width:75px; float:right; padding:5px 3px;}
#strlist .listdiv .edt a, #strlist .listdiv .add a, #strlist .listdiv .remv a{display:block; background:#333; color:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:5px; text-align:center; font-weight:bold;}
#strlist .listdiv .edt a:hover, #strlist .listdiv .add a:hover, #strlist .listdiv .remv a:hover{ text-decoration:none; background:#909090; color:#fff;}
#strlist.midlib .hdbx .desc {width:350px; float:left; padding:5px; font-weight:bold;}
#strlist.midlib .listdiv .desc{width:350px!important; float:left; padding:5px;}

#strfrm{width:660px; margin:10px auto; background:#fff; overflow:hidden;}
#strfrm h2{ border-bottom:2px solid #333; background:#0883BF; padding:5px 15px; color:#fff; font:bold 22px arial;}
#strfrm form{ padding:15px 15px 10px 15px;}
#strfrm label{width:110px; display:block; float:left; padding-top:5px; font-weight:bold;}
#strfrm .txt{width:500px; float:left; padding:3px;}
#strfrm form .clear{margin-bottom:10px;}
#strfrm form .btnsubmit{width:125px; margin:0px auto; padding:5px; border:0px; background:#333; color:#fff; font:bold 12px arial; display:block; cursor:pointer;}
.newstr{width:100%!important;}

.wid-btns{float:left;}
.wid-btns a{display:inline-block; margin:5px 10px 10px 0px; background:#333; color:#fff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:5px 10px; text-align:center; font-weight:bold;}
.wid-btns a:hover{text-decoration:none; background:#909090; color:#fff;}

.footerwrap{background:#0883bf; border-top:3px solid #333;width:100%; margin-top:10px; }
.footer{width:980px!important; margin:0px auto!important; padding:10px 0px!important; font:11px arial!important; background:none!important; border-top:none!important;}





