body {
	font: 0.9em Arial;
	color: #003b7b;
}

.info {
	display: block;
	padding: 10px; margin-bottom: 20px;
	border: 1px solid #005eab;
	background-color: #fff;
}

#test-list {
	list-style: none;
}

#test-list li {
	background-color: #E5F0FC;
    border: 1px solid #B2D2F4;
    display: block;
    margin-bottom: 5px;
    padding: 12px 10px;
}

#test-list li img.handle {
	margin-right: 20px;
	cursor: move;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

#infoy {
 padding: 4px;
}

.bold {
	font-weight: bold;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

.message{
	color: #C95406;
}

input.groovybutton {
    background-color: #005EAB;
    border: 1px solid #1C8FED;
    color: #FFFFFF;
    font-weight: bold;
}

input.groovybutton hover
{
	border-style: dotted;
}
.spacer{
        width: 20px;
        display: inline-block;
}

.myspan { float: left;    height: 50px;    width: 131px; }
.w200{width:200px;}
.w130{width:130px;}
.w40{width:40px;}
.fbold{font-weight:bold;}
li {list-style:none;clear:both;}
ul{margin: 0 5px 5px 5px;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
html>body #sortable li { background: none repeat scroll 0 0 #C8DEEF;border: 1px solid;float: left;height: 1.5em;
    line-height: 1.2em;width: 99%; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
